Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

Test: roll toolhive back to v0.22.0 for e2e validation
  .github/upstream-projects.yaml
Due: npx prettier --write

Add skill-started + skill-completed PR comments for workflow_dispatch
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Flag silent skill runs in PR body + dispatch summary
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Address Copilot review feedback on #778
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Add skill tracking + silent-run feedback for workflow_dispatch (#778)
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Test: roll toolhive back to v0.22.0 for e2e validation round 2
  .github/upstream-projects.yaml
Due: npx prettier --write

Record per-skill turns/cost and surface in PR body + summary
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Reorganise PR body and comments for scannability
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Revamp PR body/comments + record per-skill turns and cost (#782)
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Add turn/timeout caps and sync local HEAD after skill pushes
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Fail loudly on sync-step errors (Copilot review)
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Cap skill turns/timeout + sync local HEAD after skill pushes (#783)
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Fix jq parse of claude-execution-output.json (array format)
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Add Summary of changes section to PR body
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Fix stats parse + add Summary of changes section (#785)
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Add local mode guide for thv vmcp CLI commands
  docs/toolhive/guides-vmcp/index.mdx
  docs/toolhive/guides-vmcp/local-mode.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Bump skill turn caps after hitting review limit on v0.24.0
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Bump skill turn caps after hitting review limit on v0.24.0 (#789)
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Gitignore SUMMARY.md signal file
  .gitignore
Due: none

Gitignore SUMMARY.md signal file (#790)
  .gitignore
Due: none

Fix formatting
  docs/toolhive/guides-vmcp/index.mdx
Due: npx prettier --write, npx eslint --fix

Label upstream-projects PRs as autogen-docs
  renovate.json
Due: npx prettier --write

Label upstream-projects PRs as autogen-docs (#792)
  renovate.json
Due: npx prettier --write

Allow npm build/lint/format in Claude workflows
  .github/workflows/claude.yml
  .github/workflows/upstream-release-docs.yml
  AGENTS.md
Due: npx prettier --write

Fix claude.yml: add checkout, gate on author_association
  .github/workflows/claude.yml
Due: npx prettier --write

Allow npm build/lint/format in Claude workflows (#793)
  .github/workflows/claude.yml
  .github/workflows/upstream-release-docs.yml
  AGENTS.md
Due: npx prettier --write

Add tool filtering example and CLI optimizer section
  docs/toolhive/guides-vmcp/local-cli.mdx
  docs/toolhive/guides-vmcp/optimizer.mdx
  docs/toolhive/guides-vmcp/tool-aggregation.mdx
Due: npx prettier --write, npx eslint --fix

Add tool filtering example and CLI optimizer section (#795)
  docs/toolhive/guides-vmcp/local-cli.mdx
  docs/toolhive/guides-vmcp/optimizer.mdx
  docs/toolhive/guides-vmcp/tool-aggregation.mdx
Due: npx prettier --write, npx eslint --fix

Document scalability limits and constraints
  docs/toolhive/guides-vmcp/scaling-and-performance.mdx
Due: npx prettier --write, npx eslint --fix

Re-baseline tsconfig from fresh Docusaurus scaffold
  tsconfig.json
Due: npx prettier --write

Fix sidebars.ts type error from JSON-imported CRD sidebar
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Fix type errors in custom components for TS 6
  plugins/mcp-metadata-plugin/src/index.ts
  src/components/CRDReference/index.tsx
  src/components/HubSpotForm/index.tsx
  src/theme/Admonition/Types.tsx
Due: npx prettier --write, npx eslint --fix

Link optimizer tutorial to local CLI guide
  docs/toolhive/tutorials/mcp-optimizer.mdx
Due: npx prettier --write, npx eslint --fix

Open upstream release docs PR as draft
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Fix npm script allowlist patterns in Claude workflows
  .github/workflows/claude.yml
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Fix npm script allowlist patterns in Claude workflows (#802)
  .github/workflows/claude.yml
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Address Copilot review: --repo flag and COMPARE_OK tri-state
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Open upstream release docs PR as draft (#801)
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Path conditions:
  npx prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}) or (any of: *.md)) or (any of: *.{css,json,jsonc,yaml,yml})
  npx eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}
