Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Fix new prettier error
  docs/toolhive/guides-cli/install.mdx
Due: npx prettier --write, npx eslint --fix

Add custom instructions
  .github/instructions/writing-style.instructions.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add custom instructions (#23)
  .github/instructions/writing-style.instructions.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix broken links and update diagram
  docs/toolhive/guides-cli/custom-permissions.mdx
  docs/toolhive/guides-cli/registry.md
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-k8s/run-mcp-k8s.md
  docs/toolhive/tutorials/quickstart.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update network permissions implementation docs (#19)
  docs/toolhive/guides-cli/custom-permissions.md
  docs/toolhive/guides-cli/custom-permissions.mdx
  docs/toolhive/guides-cli/registry.md
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-cli/secrets-management.mdx
  docs/toolhive/guides-k8s/run-mcp-k8s.md
  docs/toolhive/index.mdx
  docs/toolhive/tutorials/quickstart.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Add http example for Copilot in JetBrains
  docs/toolhive/reference/client-compatibility.mdx
Due: npx prettier --write, npx eslint --fix

Add Streamable HTTP and update clients table
  docs/toolhive/_partials/_client-compat-table.md
  docs/toolhive/guides-cli/client-configuration.md
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/index.mdx
  docs/toolhive/reference/client-compatibility.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Fix typo
  docs/toolhive/guides-cli/client-configuration.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add Streamable HTTP and update clients table (#22)
  docs/toolhive/_partials/_client-compat-table.md
  docs/toolhive/guides-cli/client-configuration.md
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/index.mdx
  docs/toolhive/reference/client-compatibility.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update client configuration docs
  docs/toolhive/guides-cli/client-configuration.md
  docs/toolhive/reference/client-compatibility.mdx
  docs/toolhive/tutorials/quickstart.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update client configuration docs (#24)
  docs/toolhive/guides-cli/client-configuration.md
  docs/toolhive/reference/client-compatibility.mdx
  docs/toolhive/tutorials/quickstart.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Add the CRD reference page
  .markdownlint-cli2.jsonc
  .vscode/settings.json
  docs/toolhive/guides-k8s/run-mcp-k8s.md
  docs/toolhive/reference/crd-spec.mdx
  static/api-specs/crd-api.md
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update script to handle Operator releases
  scripts/update-toolhive-reference.sh
Due: none

Harden script and workflow
  .github/workflows/update-toolhive-reference.yml
  scripts/update-toolhive-reference.sh
Due: npx prettier --write

Add the CRD reference and automation (#29)
  .github/workflows/update-toolhive-reference.yml
  .markdownlint-cli2.jsonc
  .vscode/settings.json
  docs/toolhive/guides-k8s/run-mcp-k8s.md
  docs/toolhive/reference/crd-spec.mdx
  scripts/update-toolhive-reference.sh
  static/api-specs/crd-api.md
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update registry output examples
  docs/toolhive/guides-cli/registry.md
  docs/toolhive/tutorials/quickstart.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Add note about VS Code and FastMCP streamable HTTP
  docs/toolhive/guides-cli/client-configuration.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add GoFetch to landing page
  src/pages/index.tsx
  static/img/mcp-servers/gofetch-mascot.webp
  static/img/mcp-servers/mkp-logo.webp
Due: npx prettier --write, npx eslint --fix

Add note about VS Code and FastMCP streamable HTTP (#33)
  docs/toolhive/guides-cli/client-configuration.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add GoFetch to landing page (#34)
  src/pages/index.tsx
  static/img/mcp-servers/gofetch-mascot.webp
  static/img/mcp-servers/mkp-logo.webp
Due: npx prettier --write, npx eslint --fix

Clean up README badge links
  README.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update troubleshooting sections with collapsible blocks
  .markdownlint.json
  docs/toolhive/guides-cli/client-configuration.md
  docs/toolhive/guides-cli/custom-permissions.mdx
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-cli/secrets-management.mdx
  docs/toolhive/guides-k8s/deploy-operator-helm.md
  docs/toolhive/guides-k8s/run-mcp-k8s.md
  docs/toolhive/tutorials/quickstart.mdx
  docs/toolhive/tutorials/toolhive-operator.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Fix formatting
  docs/toolhive/guides-cli/install.mdx
Due: npx prettier --write, npx eslint --fix

Use collapsible blocks for troubleshooting notes (#35)
  .markdownlint.json
  README.md
  docs/toolhive/guides-cli/client-configuration.md
  docs/toolhive/guides-cli/custom-permissions.mdx
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-cli/secrets-management.mdx
  docs/toolhive/guides-k8s/deploy-operator-helm.md
  docs/toolhive/guides-k8s/run-mcp-k8s.md
  docs/toolhive/tutorials/quickstart.mdx
  docs/toolhive/tutorials/toolhive-operator.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Add release badges to CLI/K8s install guides
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/guides-k8s/deploy-operator-helm.md
  docs/toolhive/index.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Bump example versions
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/guides-k8s/deploy-operator-helm.md
  docs/toolhive/tutorials/quickstart.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Add SQLite MCP to landing page
  src/pages/index.tsx
Due: npx prettier --write, npx eslint --fix

Add SQLite MCP to landing page (#41)
  src/pages/index.tsx
Due: npx prettier --write, npx eslint --fix

Add note about proxy mode for stdio
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Add note about proxy mode for stdio (#42)
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Update run-mcp-k8s.md with gofetch example
  docs/toolhive/guides-k8s/run-mcp-k8s.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update run-mcp-k8s.md with gofetch example (#46)
  docs/toolhive/guides-k8s/run-mcp-k8s.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Specify --target-port on docs and match port on quickstart guide
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/tutorials/quickstart.mdx
Due: npx prettier --write, npx eslint --fix

Reverted port on example
  docs/toolhive/tutorials/quickstart.mdx
Due: npx prettier --write, npx eslint --fix

Apply suggestions from code review
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Specify --target-port on docs and match port on quickstart guide (#47)
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/tutorials/quickstart.mdx
Due: npx prettier --write, npx eslint --fix

Update proxy port flag
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/tutorials/quickstart.mdx
Due: npx prettier --write, npx eslint --fix

Update proxy port flag (#50)
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/tutorials/quickstart.mdx
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}) or (any of: *.md)) or (any of: *.{css,json,jsonc,yaml,yml})
  npx eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}
  npx markdownlint-cli2 --fix: any of: *.md
