Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update meta-mcp guide (#194)
  docs/toolhive/guides-mcp/meta-mcp.mdx
Due: npx prettier --write, npx eslint --fix

add an example about accessing internal workloads
  docs/toolhive/guides-ui/network-isolation.mdx
Due: npx prettier --write, npx eslint --fix

Move deprecated setting
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Update to new stable class name
  src/css/custom.css
Due: npx prettier --write

Update more stable class names
  src/css/custom.css
  src/css/footer.css
Due: npx prettier --write

Updates for Docusaurus v4 future-proofing (#207)
  docusaurus.config.ts
  src/css/custom.css
  src/css/footer.css
Due: npx prettier --write, npx eslint --fix

Enable Docusaurus Faster and v4 features
  docusaurus.config.ts
  package-lock.json
  package.json
Due: npx prettier --write, npx eslint --fix

Update to Algolia DocSearch v4
  package-lock.json
Due: npx prettier --write

Enable Algolia Ask AI
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Upgrade Algolia DocSearch and add Ask AI (#208)
  docusaurus.config.ts
  package-lock.json
Due: npx prettier --write, npx eslint --fix

Tweak Renovate configs
  renovate.json
Due: npx prettier --write

Update Claude Code workflow to v1
  .github/workflows/claude.yml
Due: npx prettier --write

Tweak Renovate configs (#209)
  renovate.json
Due: npx prettier --write

Update Claude Code workflow to v1 (#210)
  .github/workflows/claude.yml
Due: npx prettier --write

Update docs/toolhive/guides-ui/network-isolation.mdx
  docs/toolhive/guides-ui/network-isolation.mdx
Due: npx prettier --write, npx eslint --fix

changes from review
  docs/toolhive/guides-cli/network-isolation.mdx
Due: npx prettier --write, npx eslint --fix

Update docs/toolhive/guides-cli/network-isolation.mdx
  docs/toolhive/guides-cli/network-isolation.mdx
Due: npx prettier --write, npx eslint --fix

UI: Add remote MCP section (#178)
  docs/toolhive/faq.md
  docs/toolhive/guides-mcp/filesystem.mdx
  docs/toolhive/guides-ui/client-configuration.mdx
  docs/toolhive/guides-ui/install.mdx
  docs/toolhive/guides-ui/network-isolation.mdx
  docs/toolhive/guides-ui/registry.mdx
  docs/toolhive/guides-ui/run-mcp-servers.md
  docs/toolhive/guides-ui/run-mcp-servers.mdx
  docs/toolhive/guides-ui/secrets-management.md
  docs/toolhive/tutorials/quickstart-ui.mdx
  src/css/custom.css
  static/img/mcp-servers/local-mcp.svg
  static/img/mcp-servers/remote-mcp.svg
  static/img/toolhive/toolhive-ui-registry-dark.webp
  static/img/toolhive/toolhive-ui-registry-light.webp
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Fix up order of steps, move examples to a partial
  docs/toolhive/_partials/_remote-mcp-auth-examples.md
  docs/toolhive/guides-ui/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Polish the thv list explanation
  docs/toolhive/guides-cli/manage-mcp-servers.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update note about network isolation support
  docs/toolhive/guides-ui/network-isolation.mdx
Due: npx prettier --write, npx eslint --fix

Update client secret note
  docs/toolhive/_partials/_remote-mcp-auth-examples.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Minor improvements and fixes for UI docs (#212)
  docs/toolhive/_partials/_remote-mcp-auth-examples.md
  docs/toolhive/guides-cli/manage-mcp-servers.md
  docs/toolhive/guides-ui/network-isolation.mdx
  docs/toolhive/guides-ui/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

fix ci
  docs/toolhive/guides-cli/network-isolation.mdx
Due: npx prettier --write, npx eslint --fix

add an example about accessing internal workloads (#201)
  docs/toolhive/guides-cli/network-isolation.mdx
  docs/toolhive/guides-ui/network-isolation.mdx
Due: npx prettier --write, npx eslint --fix

Add docs for inbound network isolation
  docs/toolhive/guides-cli/custom-permissions.mdx
  docs/toolhive/guides-cli/network-isolation.mdx
Due: npx prettier --write, npx eslint --fix

Add playground guide
  docs/toolhive/guides-ui/playground.mdx
  sidebars.ts
  static/img/toolhive/toolhive-ui-playground-api-keys-dark.webp
  static/img/toolhive/toolhive-ui-playground-api-keys-light.webp
  static/img/toolhive/toolhive-ui-playground-chat-response-dark.webp
  static/img/toolhive/toolhive-ui-playground-chat-response-light.webp
  static/img/toolhive/toolhive-ui-playground-start-chat-dark.webp
  static/img/toolhive/toolhive-ui-playground-start-chat-ligh.webp
  static/img/toolhive/toolhive-ui-playground-start-dark.webp
  static/img/toolhive/toolhive-ui-playground-start-ligh.webp
  static/img/toolhive/toolhive-ui-playground-thv-mcp-dark.webp
  static/img/toolhive/toolhive-ui-playground-thv-mcp-light.webp
Due: npx prettier --write, npx eslint --fix

fix: typo
  docs/toolhive/guides-ui/playground.mdx
  static/img/toolhive/toolhive-ui-playground-start-light.webp
Due: npx prettier --write, npx eslint --fix

fix: typo
  docs/toolhive/guides-ui/playground.mdx
  static/img/toolhive/toolhive-ui-playground-start-chat-light.webp
Due: npx prettier --write, npx eslint --fix

fix: adjust sidebar position, remove some images, and decapitalize playground
  docs/toolhive/guides-ui/playground.mdx
  sidebars.ts
  static/img/toolhive/toolhive-ui-playground-api-keys-dark.webp
  static/img/toolhive/toolhive-ui-playground-api-keys-light.webp
  static/img/toolhive/toolhive-ui-playground-start-chat-dark.webp
  static/img/toolhive/toolhive-ui-playground-start-chat-light.webp
  static/img/toolhive/toolhive-ui-playground-start-dark.webp
  static/img/toolhive/toolhive-ui-playground-start-light.webp
Due: npx prettier --write, npx eslint --fix

3 spaces on list
  docs/toolhive/guides-ui/playground.mdx
Due: npx prettier --write, npx eslint --fix

3 spaces list
  docs/toolhive/guides-ui/playground.mdx
Due: npx prettier --write, npx eslint --fix

extra explanation before second example
  docs/toolhive/guides-ui/playground.mdx
Due: npx prettier --write, npx eslint --fix

remove "feature"
  docs/toolhive/guides-ui/playground.mdx
Due: npx prettier --write, npx eslint --fix

starts instead of spins up
  docs/toolhive/guides-ui/playground.mdx
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}) or (any of: *.md)) or (any of: *.{css,json,jsonc,yaml,yml})
  npx eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}
  npx markdownlint-cli2 --fix: any of: *.md
