Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs,mdx}": ["npx prettier --write", "npx eslint --fix"],
  "*.md": ["npx prettier --write", "npx markdownlint-cli2 --fix"],
  "*.{css,json,jsonc,yaml,yml}": ["npx prettier --write"]
}

Update release badge colors
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/guides-k8s/deploy-operator-helm.mdx
  docs/toolhive/guides-ui/install.mdx
Due: npx prettier --write, npx eslint --fix

Style fixups
  docs/theme-preview.mdx
  src/css/custom.css
Due: npx prettier --write, npx eslint --fix

Update Mermaid architecture diagram styles
  src/css/custom.css
Due: npx prettier --write

Refine styles from brand refresh (#429)
  docs/theme-preview.mdx
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/guides-k8s/deploy-operator-helm.mdx
  docs/toolhive/guides-ui/install.mdx
  docs/toolhive/index.mdx
  docusaurus.config.ts
  src/css/custom.css
  src/pages/index.tsx
  static/img/logos/toolhive-byline-black.svg
  static/img/logos/toolhive-byline-white.svg
  static/img/logos/toolhive-default-dark-green.svg
  static/img/logos/toolhive-default-light-green.svg
  static/img/logos/toolhive-symbol-dark-green.svg
  static/img/logos/toolhive-symbol-light-green.svg
  static/img/stacklok-favicon.svg
Due: npx prettier --write, npx eslint --fix

Fix mobile nav styling for light mode (#432)
  src/css/custom.css
Due: npx prettier --write

lint
  docs/toolhive/guides-k8s/deploy-operator-helm.mdx
Due: npx prettier --write, npx eslint --fix

Minor updates to the style guide
  .prettierrc
  AGENTS.md
  STYLE-GUIDE.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

adds operator crds helm/kubectl installation guide
  docs/toolhive/guides-k8s/deploy-operator-helm.mdx
Due: npx prettier --write, npx eslint --fix

Update docs/toolhive/guides-k8s/deploy-operator-helm.mdx
  docs/toolhive/guides-k8s/deploy-operator-helm.mdx
Due: npx prettier --write, npx eslint --fix

Fix README formatting
  README.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix
  STYLE-GUIDE.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Minor updates to the style guide (#437)
  .prettierrc
  AGENTS.md
  README.md
  STYLE-GUIDE.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

updates operator crd install docs
  docs/toolhive/guides-k8s/deploy-operator-helm.mdx
Due: npx prettier --write, npx eslint --fix

updates operator crd install docs (#435)
  docs/toolhive/guides-k8s/deploy-operator-helm.mdx
Due: npx prettier --write, npx eslint --fix

Add assign_to input to the auto-update workflow
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

Add assign_to input to the auto-update workflow (#443)
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

Update vMCP docs for config changes
  docs/toolhive/guides-vmcp/composite-tools.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
  docs/toolhive/guides-vmcp/tool-aggregation.mdx
  docs/toolhive/tutorials/quickstart-vmcp.mdx
Due: npx prettier --write, npx eslint --fix

fix multi-line
  docs/toolhive/guides-vmcp/composite-tools.mdx
Due: npx prettier --write, npx eslint --fix

Add Cursor Hooks to main index
  src/pages/index.tsx
  static/img/mcp-servers/cursor-logo.svg
Due: npx prettier --write, npx eslint --fix

Update card hover image
  src/components/ProductCard/assets/product-card-hover.png
  src/components/ProductCard/assets/product-card-hover.svg
  src/components/ProductCard/index.tsx
  src/components/ProductCard/styles.module.css
  src/css/custom.css
  src/pages/index.module.css
  src/pages/index.tsx
  static/img/card-hover.png
  static/img/doc-card-hover.svg
  static/img/stacklok-pattern-2-transparent.svg
Due: npx prettier --write, npx eslint --fix

Add doc search and Optimizer to main index
  src/pages/index.tsx
  static/img/mcp-servers/stacklok-website-icons-efficiency-dark-green.svg
  static/img/mcp-servers/stacklok-website-icons-efficiency-light-green.svg
Due: npx prettier --write, npx eslint --fix

Update overview pages
  docs/toolhive/guides-cli/index.mdx
  docs/toolhive/guides-registry/index.mdx
  docs/toolhive/index.mdx
  src/pages/index.tsx
  static/img/toolhive/toolhive-platform-dark.svg
  static/img/toolhive/toolhive-platform-light.svg
Due: npx prettier --write, npx eslint --fix

prettier-ignore
  docs/toolhive/guides-vmcp/composite-tools.mdx
Due: npx prettier --write, npx eslint --fix

Update vMCP docs for config changes (#444)
  docs/toolhive/guides-vmcp/composite-tools.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
  docs/toolhive/guides-vmcp/tool-aggregation.mdx
  docs/toolhive/tutorials/quickstart-vmcp.mdx
Due: npx prettier --write, npx eslint --fix

Update K8s docs
  docs/toolhive/guides-k8s/connect-clients.mdx
  docs/toolhive/guides-k8s/customize-tools.mdx
  docs/toolhive/guides-k8s/deploy-registry.mdx
  docs/toolhive/guides-k8s/index.mdx
  docs/toolhive/guides-k8s/intro.mdx
  docs/toolhive/guides-k8s/logging.mdx
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-k8s/run-mcp-k8s.mdx
  docs/toolhive/guides-k8s/telemetry-and-metrics.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Fix groupID on Tabs
  docs/toolhive/guides-k8s/logging.mdx
Due: npx prettier --write, npx eslint --fix

Make Copilot instructions a symlink to AGENTS.md
  .github/copilot-instructions.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Set the PR reviewer instead of assignee
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

Set the PR reviewer instead of assignee (#447)
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

Update intro/overview pages (#438)
  .github/copilot-instructions.md
  docs/toolhive/guides-cli/index.mdx
  docs/toolhive/guides-registry/index.mdx
  docs/toolhive/index.mdx
  src/components/ProductCard/assets/product-card-hover.png
  src/components/ProductCard/assets/product-card-hover.svg
  src/components/ProductCard/index.tsx
  src/components/ProductCard/styles.module.css
  src/css/custom.css
  src/pages/index.module.css
  src/pages/index.tsx
  static/img/card-hover.png
  static/img/doc-card-hover.svg
  static/img/mcp-servers/cursor-logo.svg
  static/img/mcp-servers/stacklok-website-icons-efficiency-dark-green.svg
  static/img/mcp-servers/stacklok-website-icons-efficiency-light-green.svg
  static/img/stacklok-pattern-2-transparent.svg
  static/img/toolhive/toolhive-platform-dark.svg
  static/img/toolhive/toolhive-platform-light.svg
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update K8s docs to reference newer resource types (#445)
  docs/toolhive/guides-k8s/connect-clients.mdx
  docs/toolhive/guides-k8s/customize-tools.mdx
  docs/toolhive/guides-k8s/deploy-registry.mdx
  docs/toolhive/guides-k8s/index.mdx
  docs/toolhive/guides-k8s/intro.mdx
  docs/toolhive/guides-k8s/logging.mdx
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-k8s/run-mcp-k8s.mdx
  docs/toolhive/guides-k8s/telemetry-and-metrics.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Enable Docusaurus Faster and v4 features
  docusaurus.config.ts
  package-lock.json
  package.json
Due: npx prettier --write, npx eslint --fix

Rename deploy-operator-helm page
  docs/toolhive/guides-k8s/auth-k8s.mdx
  docs/toolhive/guides-k8s/deploy-operator.mdx
  docs/toolhive/guides-k8s/deploy-registry.mdx
  docs/toolhive/guides-k8s/intro.mdx
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-k8s/run-mcp-k8s.mdx
  docs/toolhive/guides-k8s/telemetry-and-metrics.mdx
  docs/toolhive/guides-k8s/token-exchange-k8s.mdx
  docs/toolhive/tutorials/quickstart-k8s.mdx
  sidebars.ts
  vercel.json
Due: npx prettier --write, npx eslint --fix

Rename deploy-operator-helm page (#449)
  docs/toolhive/guides-k8s/auth-k8s.mdx
  docs/toolhive/guides-k8s/deploy-operator.mdx
  docs/toolhive/guides-k8s/deploy-registry.mdx
  docs/toolhive/guides-k8s/intro.mdx
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-k8s/run-mcp-k8s.mdx
  docs/toolhive/guides-k8s/telemetry-and-metrics.mdx
  docs/toolhive/guides-k8s/token-exchange-k8s.mdx
  docs/toolhive/tutorials/quickstart-k8s.mdx
  sidebars.ts
  vercel.json
Due: npx prettier --write, npx eslint --fix

Fixup link text to remove "with/using Helm"
  docs/toolhive/guides-k8s/auth-k8s.mdx
  docs/toolhive/guides-k8s/deploy-registry.mdx
  docs/toolhive/guides-k8s/intro.mdx
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-k8s/run-mcp-k8s.mdx
  docs/toolhive/guides-k8s/telemetry-and-metrics.mdx
  docs/toolhive/guides-k8s/token-exchange-k8s.mdx
Due: npx prettier --write, npx eslint --fix
