Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs,mdx}": ["npx prettier --write", "npx eslint --fix"],
  "*.md": ["npx prettier --write", "npx markdownlint-cli2 --fix"],
  "*.{css,json,jsonc,yaml,yml}": ["npx prettier --write"]
}

Add thv install script
  .devcontainer/devcontainer.json
  scripts/install-thv.sh
  vercel.json
Due: npx prettier --write

Add Claude subagent
  .claude/agents/mcp-guide-writer.md
  .markdownlint-cli2.jsonc
Due: npx prettier --write, npx markdownlint-cli2 --fix

Move Tabs and TabItem to the global scope
  docs/theme-preview.mdx
  docs/toolhive/guides-cli/build-containers.mdx
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/guides-cli/network-isolation.mdx
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-cli/secrets-management.mdx
  docs/toolhive/guides-mcp/_template.mdx
  docs/toolhive/guides-mcp/context7.mdx
  docs/toolhive/guides-mcp/fetch.mdx
  docs/toolhive/guides-mcp/filesystem.mdx
  docs/toolhive/guides-mcp/github.mdx
  docs/toolhive/guides-mcp/k8s.mdx
  docs/toolhive/guides-mcp/osv.mdx
  docs/toolhive/guides-mcp/playwright.mdx
  docs/toolhive/guides-ui/index.mdx
  docs/toolhive/guides-ui/install.mdx
  docs/toolhive/guides-ui/network-isolation.mdx
  docs/toolhive/guides-ui/registry.mdx
  docs/toolhive/tutorials/custom-registry.mdx
  docs/toolhive/tutorials/quickstart-cli.mdx
  eslint.config.mjs
  src/theme/MDXComponents.tsx
Due: npx prettier --write, npx eslint --fix

Address copilot suggestions
  plugins/mcp-metadata-plugin/src/utils.ts
Due: npx prettier --write, npx eslint --fix

Update AI instructions, tweak markdown linting
  .claude/agents/mcp-guide-writer.md
  .github/copilot-instructions.md
  .github/prompts/doc-review.prompt.md
  .markdownlint-cli2.jsonc
  .markdownlint.json
  .prettierrc
  AGENTS.md
  README.md
  docs/toolhive/.markdownlint.json
  docs/toolhive/_partials/.markdownlint.json
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix typo
  AGENTS.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update AI instructions, tweak markdown linting (#156)
  .claude/agents/mcp-guide-writer.md
  .github/copilot-instructions.md
  .github/prompts/doc-review.prompt.md
  .markdownlint-cli2.jsonc
  .markdownlint.json
  .prettierrc
  AGENTS.md
  README.md
  docs/toolhive/.markdownlint.json
  docs/toolhive/_partials/.markdownlint.json
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add Plotting MCP
  src/pages/index.tsx
Due: npx prettier --write, npx eslint --fix

Add other projects section
  src/pages/index.tsx
  static/img/mcp-servers/buildkite-logo.svg
  static/img/mcp-servers/yardstick-logo.webp
Due: npx prettier --write, npx eslint --fix

Fix alt text
  src/pages/index.tsx
Due: npx prettier --write, npx eslint --fix

Add ToolHive GitHub Actions project
  src/pages/index.tsx
  static/img/mcp-servers/github-actions-logo.png
Due: npx prettier --write, npx eslint --fix

Add new projects to landing page (#157)
  src/pages/index.tsx
  static/img/mcp-servers/buildkite-logo.svg
  static/img/mcp-servers/github-actions-logo.png
  static/img/mcp-servers/yardstick-logo.webp
Due: npx prettier --write, npx eslint --fix

Add Colima
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-ui/install.mdx
  docs/toolhive/reference/cli/thv.md
  docs/toolhive/tutorials/quickstart-cli.mdx
  docs/toolhive/tutorials/quickstart-ui.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Oxford commas
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-ui/install.mdx
  docs/toolhive/tutorials/quickstart-cli.mdx
  docs/toolhive/tutorials/quickstart-ui.mdx
Due: npx prettier --write, npx eslint --fix

Update docs for run --from-config
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/reference/cli/thv_export.md
  docs/toolhive/reference/cli/thv_run.md
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Fix formatting issues
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

add HashiCorp Vault integration tutorial
  docs/toolhive/tutorials/vault-integration.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Add minimumReleaseAge setting for npm
  renovate.json
Due: npx prettier --write

Address some suggestions from copilot review
  docs/toolhive/tutorials/vault-integration.mdx
Due: npx prettier --write, npx eslint --fix

Add minimumReleaseAge setting for npm (#165)
  renovate.json
Due: npx prettier --write

adds otel kubernetes docs
  docs/toolhive/guides-k8s/telemetry-and-metrics.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix multi-line string
  docs/toolhive/tutorials/vault-integration.mdx
Due: npx prettier --write, npx eslint --fix

adds sidebar menu for telemetry docs
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Update docs/toolhive/guides-k8s/telemetry-and-metrics.md
  docs/toolhive/guides-k8s/telemetry-and-metrics.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

fixes format issues
  docs/toolhive/guides-k8s/telemetry-and-metrics.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

modify mermaid diagram
  docs/toolhive/guides-k8s/telemetry-and-metrics.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

amends CLI docs with new telemetry flags
  docs/toolhive/guides-cli/telemetry-and-metrics.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

adds missing flags
  docs/toolhive/guides-cli/telemetry-and-metrics.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

add HashiCorp Vault integration tutorial (#164)
  docs/toolhive/tutorials/vault-integration.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

docs: add .thvignore documentation for hiding sensitive files
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-cli/thvignore.md
  sidebars.ts
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Address PR feedback for .thvignore documentation
  docs/toolhive/guides-cli/thvignore.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add Colima (#162)
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-ui/install.mdx
  docs/toolhive/reference/cli/thv.md
  docs/toolhive/tutorials/quickstart-cli.mdx
  docs/toolhive/tutorials/quickstart-ui.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

removes unneeded flags
  docs/toolhive/guides-cli/telemetry-and-metrics.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

disables metrics for jaeger example
  docs/toolhive/guides-cli/telemetry-and-metrics.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

oppsie, meant to add to jaeger section
  docs/toolhive/guides-cli/telemetry-and-metrics.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update docs/toolhive/guides-cli/telemetry-and-metrics.md
  docs/toolhive/guides-cli/telemetry-and-metrics.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Adds Docs for OpenTelemetry Support in ToolHive Operator & Kubernetes (#166)
  docs/toolhive/guides-cli/telemetry-and-metrics.md
  docs/toolhive/guides-k8s/telemetry-and-metrics.md
  sidebars.ts
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix
