Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs,mdx}": ["npx prettier --write", "npx eslint --fix"],
  "*.md": ["npx prettier --write", "npx markdownlint-cli2 --fix"],
  "*.{css,json,jsonc,yaml,yml}": ["npx prettier --write"]
}

docs: add .thvignore documentation for hiding sensitive files (#161)
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-cli/thvignore.md
  sidebars.ts
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

adds docs for using different secrets managers in k8s
  docs/toolhive/guides-k8s/run-mcp-k8s.mdx
Due: npx prettier --write, npx eslint --fix

adds vault secret injection docs
  docs/toolhive/guides-k8s/run-mcp-k8s.mdx
Due: npx prettier --write, npx eslint --fix

Fix container name for verification step
  docs/toolhive/tutorials/vault-integration.mdx
Due: npx prettier --write, npx eslint --fix

Add CRDs to upgrade steps, bump example versions
  docs/toolhive/guides-k8s/deploy-operator-helm.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix minor typo in Vault tutorial, add missing CRDs upgrade step (#174)
  docs/toolhive/guides-k8s/deploy-operator-helm.md
  docs/toolhive/tutorials/vault-integration.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

corrects name of k8s docs
  docs/toolhive/guides-cli/advanced-cicd.mdx
  docs/toolhive/guides-cli/build-containers.mdx
  docs/toolhive/guides-k8s/deploy-operator-helm.md
  docs/toolhive/guides-k8s/intro.md
  docs/toolhive/guides-mcp/filesystem.mdx
  docs/toolhive/tutorials/quickstart-k8s.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Enable Docusaurus Faster and v4 features
  docusaurus.config.ts
  package-lock.json
  package.json
Due: npx prettier --write, npx eslint --fix

Add required `targetPort` attribute
  docs/toolhive/guides-k8s/run-mcp-k8s.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add required `targetPort` attribute (#175)
  docs/toolhive/guides-k8s/run-mcp-k8s.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

reflect new Clients management location
  docs/toolhive/guides-ui/client-configuration.mdx
Due: npx prettier --write, npx eslint --fix

Update wording, rewrite the Vault section
  docs/toolhive/guides-k8s/run-mcp-k8s.mdx
Due: npx prettier --write, npx eslint --fix

adds docs for using different secrets managers in k8s (#171)
  docs/toolhive/guides-cli/advanced-cicd.mdx
  docs/toolhive/guides-cli/build-containers.mdx
  docs/toolhive/guides-k8s/deploy-operator-helm.md
  docs/toolhive/guides-k8s/intro.md
  docs/toolhive/guides-k8s/run-mcp-k8s.mdx
  docs/toolhive/guides-mcp/filesystem.mdx
  docs/toolhive/tutorials/quickstart-k8s.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

ui: add remote mcp section
  docs/toolhive/guides-ui/run-mcp-servers.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

address comment
  docs/toolhive/guides-ui/run-mcp-servers.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

fix: replace required fields
  docs/toolhive/guides-ui/run-mcp-servers.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

reflect new Clients management location (#176)
  docs/toolhive/guides-ui/client-configuration.mdx
Due: npx prettier --write, npx eslint --fix

docs: Add logging infrastructure guide for Kubernetes deployments
  docs/toolhive/guides-k8s/deploy-operator-helm.md
  docs/toolhive/guides-k8s/logging-infrastructure.md
  sidebars.ts
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

docs: Add logging infrastructure guide for Kubernetes deployments (#167)
  docs/toolhive/guides-k8s/deploy-operator-helm.md
  docs/toolhive/guides-k8s/logging-infrastructure.md
  sidebars.ts
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Address PR comments.
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Add docs for new `thv run --tools-override` flag.
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

PR comment.
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Add docs for new `thv run --tools-override` flag. (#179)
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

ci: adds the remote mcp server section
  docs/toolhive/guides-cli/manage-mcp-servers.md
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

added naming convention and default transport
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

fixed authentication section
  docs/toolhive/guides-cli/manage-mcp-servers.md
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

fix linting issue
  docs/toolhive/guides-cli/manage-mcp-servers.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

run prettier
  docs/toolhive/guides-cli/manage-mcp-servers.md
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

used horizontal dots
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

changed remote server example
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

added client secret param
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

improve the language and logging guide
  docs/toolhive/guides-cli/manage-mcp-servers.md
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

CLI: Add remote server docs (#183)
  docs/toolhive/guides-cli/manage-mcp-servers.md
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

docs(k8s): document MCPToolConfig and toolConfigRef; add guide and sidebar link
  docs/toolhive/guides-k8s/tool-config.mdx
  docs/toolhive/guides-mcp/k8s.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Apply suggestions from code review
  docs/toolhive/guides-k8s/tool-config.mdx
  docs/toolhive/guides-mcp/k8s.mdx
Due: npx prettier --write, npx eslint --fix

Temporary fix for new early exit behavior in thv
  scripts/install-thv.sh
Due: none

Fix URL
  scripts/install-thv.sh
Due: none

Fix version
  scripts/install-thv.sh
Due: none

Temporary fix for new early exit behavior in thv (#189)
  scripts/install-thv.sh
Due: none
