Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

Add AWS STS authentication tutorial and cross-references
  docs/toolhive/concepts/backend-auth.mdx
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-k8s/token-exchange-k8s.mdx
  docs/toolhive/tutorials/aws-sts-integration.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Drop "Guides:" prefix from sidebar labels
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Restructure CLI sidebar with Advanced workflows
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Reorder K8s sidebar: auth before telemetry
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Reorder Registry Server sidebar, add Introduction
  docs/toolhive/guides-registry/intro.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Move quickstarts into product sections
  docs/toolhive/tutorials/quickstart-cli.mdx
  docs/toolhive/tutorials/quickstart-k8s.mdx
  docs/toolhive/tutorials/quickstart-ui.mdx
  docs/toolhive/tutorials/quickstart-vmcp.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Create Reference section, move client compatibility
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Add "Choose your path" decision framework to home page
  docs/toolhive/index.mdx
Due: npx prettier --write, npx eslint --fix

Create Integrations section, remove Tutorials category
  docusaurus.config.ts
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Restructure documentation navigation (Phase 1) (#551)
  docs/toolhive/guides-registry/intro.mdx
  docs/toolhive/index.mdx
  docs/toolhive/tutorials/quickstart-cli.mdx
  docs/toolhive/tutorials/quickstart-k8s.mdx
  docs/toolhive/tutorials/quickstart-ui.mdx
  docs/toolhive/tutorials/quickstart-vmcp.mdx
  docusaurus.config.ts
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Add a skill for the weekly product updates
  .claude/skills/weekly-product-updates/SKILL.md
Due: npx prettier --write

Update .claude/skills/weekly-product-updates/SKILL.md
  .claude/skills/weekly-product-updates/SKILL.md
Due: npx prettier --write

Publish ToolHive updates for 2026-02-16
  blog/toolhive-updates/2026-02-16-updates.mdx
Due: npx prettier --write, npx eslint --fix

Normalize the getting started section
  .claude/commands/polish-toolhive-updates.md
  blog/toolhive-updates/2026-01-19-updates.mdx
  blog/toolhive-updates/2026-02-02-updates.mdx
Due: npx prettier --write, npx eslint --fix

Fix extra escape character
  blog/toolhive-updates/2026-02-16-updates.mdx
Due: npx prettier --write, npx eslint --fix

Publish ToolHive updates for 2026-02-16 (#559)
  .claude/commands/polish-toolhive-updates.md
  blog/toolhive-updates/2026-01-19-updates.mdx
  blog/toolhive-updates/2026-02-02-updates.mdx
  blog/toolhive-updates/2026-02-16-updates.mdx
Due: npx prettier --write, npx eslint --fix

Address Dan's feedback
  .claude/skills/weekly-product-updates/SKILL.md
Due: npx prettier --write

Address PR review feedback on AWS STS tutorial
  docs/toolhive/tutorials/aws-sts-integration.mdx
Due: npx prettier --write, npx eslint --fix

Add AWS STS authentication tutorial and cross-references (#550)
  docs/toolhive/concepts/backend-auth.mdx
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-k8s/token-exchange-k8s.mdx
  docs/toolhive/tutorials/aws-sts-integration.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

refactor: toolhive-ui img after rebranding
  static/img/toolhive/network-isolation-dark.webp
  static/img/toolhive/network-isolation-light.webp
  static/img/toolhive/toolhive-ui-playground-chat-response-dark.webp
  static/img/toolhive/toolhive-ui-playground-chat-response-light.webp
  static/img/toolhive/toolhive-ui-playground-thv-mcp-dark.webp
  static/img/toolhive/toolhive-ui-playground-thv-mcp-light.webp
  static/img/toolhive/toolhive-ui-registry-dark.webp
  static/img/toolhive/toolhive-ui-registry-light.webp
  static/img/toolhive/toolhive-ui-registry-settings-dark.webp
  static/img/toolhive/toolhive-ui-registry-settings-light.webp
  static/img/toolhive/toolhive-ui-screenshot-dark.webp
  static/img/toolhive/toolhive-ui-screenshot-light.webp
Due: none

Add a skill for the weekly product updates (#552)
  .claude/skills/weekly-product-updates/SKILL.md
Due: npx prettier --write

adds some clarifications
  docs/toolhive/guides-registry/configuration.mdx
Due: npx prettier --write, npx eslint --fix

Document private Git repository authentication for Registry Server
  docs/toolhive/guides-registry/configuration.mdx
Due: npx prettier --write, npx eslint --fix

Move /data directory note to Git repository source section
  docs/toolhive/guides-registry/configuration.mdx
Due: npx prettier --write, npx eslint --fix

adds data volumes for git clone
  docs/toolhive/guides-registry/configuration.mdx
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}) or (any of: *.md)) or (any of: *.{css,json,jsonc,yaml,yml})
  npx eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}
