Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs,mdx}": ["npx prettier --write", "npx eslint --fix"],
  "*.md": ["npx prettier --write", "npx markdownlint-cli2 --fix"],
  "*.{css,json,jsonc,yaml,yml}": ["npx prettier --write"]
}

Add update-vmcp-yaml-example skill
  .claude/skills/update-vmcp-yaml-example/SKILL.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix update-reference workflow by adding checkout step
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

Fix update-reference workflow by adding checkout step (#479)
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

Update script to handle unified releases
  scripts/update-toolhive-reference.sh
Due: none

Update script to handle unified releases (#483)
  scripts/update-toolhive-reference.sh
Due: none

Update badges and tags for unified releases
  docs/toolhive/guides-k8s/deploy-operator.mdx
Due: npx prettier --write, npx eslint --fix

comments
  docs/toolhive/guides-vmcp/observability.mdx
Due: npx prettier --write, npx eslint --fix

Add new CRD
  docs/toolhive/guides-k8s/deploy-operator.mdx
Due: npx prettier --write, npx eslint --fix

dan's comments
  docs/toolhive/guides-vmcp/observability.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

dan's comments
  docs/toolhive/guides-vmcp/telemetry-and-metrics.mdx
Due: npx prettier --write, npx eslint --fix

Add vMCP observability guide (#477)
  docs/toolhive/guides-vmcp/telemetry-and-metrics.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Add llms.txt plugin and JSON-LD schemas (#475)
  docusaurus.config.ts
  package-lock.json
  package.json
  src/pages/index.tsx
Due: npx prettier --write, npx eslint --fix

Add new CRD to install section
  docs/toolhive/guides-k8s/deploy-operator.mdx
Due: npx prettier --write, npx eslint --fix

Update Operator release badges and tag references (#486)
  docs/toolhive/guides-k8s/deploy-operator.mdx
Due: npx prettier --write, npx eslint --fix

Use thv run for vMCP client config in quickstart
  docs/toolhive/tutorials/quickstart-vmcp.mdx
Due: npx prettier --write, npx eslint --fix

Use thv run for vMCP client config in quickstart (#487)
  docs/toolhive/tutorials/quickstart-vmcp.mdx
Due: npx prettier --write, npx eslint --fix

Add update-vmcp-yaml-example skill (#478)
  .claude/skills/update-vmcp-yaml-example/SKILL.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Address review feedback for K8s header injection docs
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
Due: npx prettier --write, npx eslint --fix

Document header injection for MCPRemoteProxy
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
Due: npx prettier --write, npx eslint --fix

Fix links in update blogs and Claude command
  .claude/commands/polish-toolhive-updates.md
  blog/toolhive-updates/2025-12-08-updates.mdx
  blog/toolhive-updates/2025-12-15-updates.mdx
  blog/toolhive-updates/2025-12-22-updates.mdx
  blog/toolhive-updates/2026-01-19-updates.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Re-order links in skill template
  .claude/commands/polish-toolhive-updates.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix links in update blogs and Claude command (#491)
  .claude/commands/polish-toolhive-updates.md
  blog/toolhive-updates/2025-12-08-updates.mdx
  blog/toolhive-updates/2025-12-15-updates.mdx
  blog/toolhive-updates/2025-12-22-updates.mdx
  blog/toolhive-updates/2026-01-19-updates.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Publish ToolHive updates for 2026-02-02
  blog/toolhive-updates/2026-02-02-updates.mdx
Due: npx prettier --write, npx eslint --fix

Replace primary green colors
  STYLE-GUIDE.md
  docusaurus.config.ts
  src/css/custom.css
  src/css/footer.css
  src/pages/index.module.css
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update announcement bar color
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Add variables for the full Stacklok palette
  src/css/custom.css
  src/css/footer.css
  src/pages/index.module.css
Due: npx prettier --write

Customize admonitions
  docs/theme-preview.mdx
  src/css/custom.css
Due: npx prettier --write, npx eslint --fix

Use palette colors in a few more spots
  src/css/custom.css
Due: npx prettier --write

Update release badge color
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/guides-k8s/deploy-operator.mdx
  docs/toolhive/guides-ui/install.mdx
Due: npx prettier --write, npx eslint --fix

Replace fluorescent color in Mermaid theme
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Update SVGs
  src/components/ProductCard/assets/product-card-hover.svg
  static/img/doc-card-hover.svg
  static/img/mcp-servers/stacklok-website-icons-efficiency-dark-green.svg
  static/img/mcp-servers/stacklok-website-icons-efficiency-light-green.svg
  static/img/stacklok-pattern-1.svg
  static/img/stacklok-pattern-2-transparent.svg
  static/img/stacklok-pattern-2.svg
  static/img/stacklok-pattern-3.svg
  static/img/toolhive/toolhive-diagram-dark.svg
  static/img/toolhive/toolhive-diagram-light.svg
  static/img/toolhive/toolhive-platform-dark.svg
  static/img/toolhive/toolhive-platform-light.svg
Due: none

Fix table stripe color
  src/css/custom.css
Due: npx prettier --write

Update color scheme (#492)
  STYLE-GUIDE.md
  docs/theme-preview.mdx
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/guides-k8s/deploy-operator.mdx
  docs/toolhive/guides-ui/install.mdx
  docusaurus.config.ts
  src/components/ProductCard/assets/product-card-hover.svg
  src/css/custom.css
  src/css/footer.css
  src/pages/index.module.css
  static/img/doc-card-hover.svg
  static/img/mcp-servers/stacklok-website-icons-efficiency-dark-green.svg
  static/img/mcp-servers/stacklok-website-icons-efficiency-light-green.svg
  static/img/stacklok-pattern-1.svg
  static/img/stacklok-pattern-2-transparent.svg
  static/img/stacklok-pattern-2.svg
  static/img/stacklok-pattern-3.svg
  static/img/toolhive/toolhive-diagram-dark.svg
  static/img/toolhive/toolhive-diagram-light.svg
  static/img/toolhive/toolhive-platform-dark.svg
  static/img/toolhive/toolhive-platform-light.svg
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Add vMCP audit logging documentation
  docs/toolhive/guides-vmcp/audit-logging.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Remove security checks workflow from PRs
  .github/workflows/_security-checks.yaml
  .github/workflows/on-pr.yaml
Due: npx prettier --write

Remove security checks workflow from PRs (#502)
  .github/workflows/_security-checks.yaml
  .github/workflows/on-pr.yaml
Due: npx prettier --write

Fix MDX parsing error in CRD reference
  .markdownlint-cli2.jsonc
  .prettierignore
  docs/toolhive/concepts/tool-optimization.mdx
  docs/toolhive/guides-k8s/connect-clients.mdx
  docs/toolhive/guides-k8s/customize-tools.mdx
  docs/toolhive/guides-k8s/deploy-registry.mdx
  docs/toolhive/guides-k8s/logging.mdx
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-k8s/run-mcp-k8s.mdx
  docs/toolhive/guides-k8s/telemetry-and-metrics.mdx
  docs/toolhive/guides-k8s/token-exchange-k8s.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
  docs/toolhive/guides-vmcp/telemetry-and-metrics.mdx
  docs/toolhive/reference/crd-spec.md
  scripts/crd-ref-frontmatter.txt
  scripts/update-toolhive-reference.sh
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Fix formatting
  docs/toolhive/guides-vmcp/configuration.mdx
Due: npx prettier --write, npx eslint --fix

Filter stacklokbot from PR reviewers
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write
