Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs,mdx}": ["npx prettier --write", "npx eslint --fix"],
  "*.md": ["npx prettier --write"],
  "*.{css,json,jsonc,yaml,yml}": ["npx prettier --write"]
}

Add CRD namespace consistency note for operator deployment (#590)
  docs/toolhive/guides-k8s/deploy-operator.mdx
Due: npx prettier --write, npx eslint --fix

Update session storage warning to reflect Redis support
  docs/toolhive/concepts/backend-auth.mdx
Due: npx prettier --write, npx eslint --fix

Add vMCP optimizer guide for Kubernetes
  docs/toolhive/concepts/tool-optimization.mdx
  docs/toolhive/concepts/vmcp.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
  docs/toolhive/guides-vmcp/intro.mdx
  docs/toolhive/guides-vmcp/optimizer.mdx
  docs/toolhive/guides-vmcp/tool-aggregation.mdx
  docs/toolhive/tutorials/mcp-optimizer.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Update to server-side Google Tag Manager scripts
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Add comments to new tags
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Get the documentation artifacts via the release assets (#573)
  .gitignore
  scripts/update-toolhive-reference.sh
Due: none

Switch analytics to Stape server-side GTM (#594)
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Fix incomplete ARM64 workaround in optimizer guide
  docs/toolhive/guides-vmcp/optimizer.mdx
Due: npx prettier --write, npx eslint --fix

Add vMCP optimizer guide for Kubernetes (#588)
  docs/toolhive/concepts/tool-optimization.mdx
  docs/toolhive/concepts/vmcp.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
  docs/toolhive/guides-vmcp/intro.mdx
  docs/toolhive/guides-vmcp/optimizer.mdx
  docs/toolhive/guides-vmcp/tool-aggregation.mdx
  docs/toolhive/tutorials/mcp-optimizer.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Update the registry server documentation
  docs/toolhive/concepts/skills.mdx
  docs/toolhive/guides-registry/configuration.mdx
  docs/toolhive/guides-registry/database.mdx
  docs/toolhive/guides-registry/intro.mdx
  docs/toolhive/guides-registry/skills.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Apply docs-review feedback
  docs/toolhive/concepts/skills.mdx
  docs/toolhive/guides-registry/configuration.mdx
  docs/toolhive/guides-registry/intro.mdx
  docs/toolhive/guides-registry/skills.mdx
Due: npx prettier --write, npx eslint --fix

Fix skills distribution docs
  docs/toolhive/concepts/skills.mdx
  docs/toolhive/guides-registry/skills.mdx
Due: npx prettier --write, npx eslint --fix

Address copilot feedback
  docs/toolhive/concepts/skills.mdx
  docs/toolhive/guides-registry/skills.mdx
Due: npx prettier --write, npx eslint --fix

Fix up heading levels on updates posts
  .claude/commands/polish-toolhive-updates.md
  blog/toolhive-updates/2025-12-08-updates.mdx
  blog/toolhive-updates/2025-12-15-updates.mdx
  blog/toolhive-updates/2025-12-22-updates.mdx
  blog/toolhive-updates/2026-01-19-updates.mdx
  blog/toolhive-updates/2026-02-02-updates.mdx
  blog/toolhive-updates/2026-02-16-updates.mdx
  blog/toolhive-updates/2026-03-09-updates.mdx
Due: npx prettier --write, npx eslint --fix

Publish ToolHive updates for 2026-03-09
  blog/toolhive-updates/2026-03-09-updates.mdx
Due: npx prettier --write, npx eslint --fix

Publish ToolHive updates for 2026-03-09 (#604)
  .claude/commands/polish-toolhive-updates.md
  blog/toolhive-updates/2025-12-08-updates.mdx
  blog/toolhive-updates/2025-12-15-updates.mdx
  blog/toolhive-updates/2025-12-22-updates.mdx
  blog/toolhive-updates/2026-01-19-updates.mdx
  blog/toolhive-updates/2026-02-02-updates.mdx
  blog/toolhive-updates/2026-02-16-updates.mdx
  blog/toolhive-updates/2026-03-09-updates.mdx
Due: npx prettier --write, npx eslint --fix

Update docs for registry server v0.6.3
  docs/toolhive/concepts/skills.mdx
  docs/toolhive/guides-registry/configuration.mdx
  docs/toolhive/guides-registry/database.mdx
  docs/toolhive/guides-registry/intro.mdx
  docs/toolhive/guides-registry/skills.mdx
  docs/toolhive/reference/registry-skills-api.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Update docs/toolhive/reference/registry-skills-api.mdx
  docs/toolhive/reference/registry-skills-api.mdx
Due: npx prettier --write, npx eslint --fix

Update docs/toolhive/guides-registry/skills.mdx
  docs/toolhive/guides-registry/skills.mdx
Due: npx prettier --write, npx eslint --fix

Update the skill with why and what's next
  .claude/skills/upstream-release-docs/SKILL.md
Due: npx prettier --write

Add a skill for upstream release updates
  .claude/skills/upstream-release-docs/SKILL.md
Due: npx prettier --write

Address copilot feedback
  .claude/skills/upstream-release-docs/SKILL.md
Due: npx prettier --write

Follow ups on the skill
  .claude/skills/upstream-release-docs/SKILL.md
Due: npx prettier --write

Update the skill
  .claude/skills/upstream-release-docs/SKILL.md
Due: npx prettier --write

More updates on the skill
  .claude/skills/upstream-release-docs/SKILL.md
Due: npx prettier --write

Restructure backend auth docs for balanced pattern coverage (#554)
  docs/toolhive/concepts/auth-framework.mdx
  docs/toolhive/concepts/backend-auth.mdx
  docs/toolhive/guides-cli/token-exchange.mdx
Due: npx prettier --write, npx eslint --fix

Further skill updates
  .claude/skills/upstream-release-docs/SKILL.md
Due: npx prettier --write

Update docs for registry server v0.6.3
  docs/toolhive/concepts/skills.mdx
  docs/toolhive/guides-registry/configuration.mdx
  docs/toolhive/guides-registry/database.mdx
  docs/toolhive/guides-registry/index.mdx
  docs/toolhive/guides-registry/intro.mdx
  docs/toolhive/guides-registry/skills.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Address copilot feedback
  docs/toolhive/concepts/skills.mdx
  docs/toolhive/guides-registry/skills.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Document automatic upstream token refresh behavior
  docs/toolhive/concepts/backend-auth.mdx
Due: npx prettier --write, npx eslint --fix

Document automatic upstream token refresh behavior (#607)
  docs/toolhive/concepts/backend-auth.mdx
Due: npx prettier --write, npx eslint --fix

Add Redis Sentinel session storage guide and TLS docs
  docs/toolhive/concepts/backend-auth.mdx
  docs/toolhive/guides-k8s/auth-k8s.mdx
  docs/toolhive/guides-k8s/redis-session-storage.mdx
  sidebars.ts
  vercel.json
Due: npx prettier --write, npx eslint --fix

Address PR feedback: fix placeholder and remove redirect
  docs/toolhive/guides-k8s/auth-k8s.mdx
  docs/toolhive/guides-k8s/redis-session-storage.mdx
  vercel.json
Due: npx prettier --write, npx eslint --fix

Add Enterprise page
  docs/toolhive/enterprise/index.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Community vs Enterprise comparison section
  docs/toolhive/enterprise/index.mdx
Due: npx prettier --write, npx eslint --fix

Add HubSpot demo form to Enterprise page
  docs/toolhive/enterprise/index.mdx
  src/components/HubSpotForm/index.tsx
Due: npx prettier --write, npx eslint --fix

product offering and enterprise feature sections
  docs/toolhive/enterprise/index.mdx
Due: npx prettier --write, npx eslint --fix

deployment, validate, and FAQs
  docs/toolhive/enterprise/index.mdx
Due: npx prettier --write, npx eslint --fix

updated hierarchy and Enterprise Deep Dive visuals
  docs/toolhive/enterprise/index.mdx
Due: npx prettier --write, npx eslint --fix
