Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update custom permissions docs (#67)
  .github/pull_request_template.md
  docs/toolhive/guides-cli/api-server.md
  docs/toolhive/guides-cli/custom-permissions.mdx
  docs/toolhive/guides-cli/filesystem-access.md
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/guides-cli/manage-mcp-servers.md
  docs/toolhive/guides-cli/network-isolation.mdx
  docs/toolhive/guides-cli/registry.md
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-cli/secrets-management.mdx
  docs/toolhive/guides-k8s/deploy-operator-helm.md
  docs/toolhive/guides-k8s/run-mcp-k8s.md
  docs/toolhive/tutorials/quickstart-cli.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Add docs for new `thv run --tools` flag.
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Add CoC, DCO, and contributing guides
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DCO.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Apply suggestions from code review
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Add Windsurf to list of supported clients
  docs/toolhive/_partials/_client-compat-table.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

address feedback
  docs/toolhive/_partials/_client-compat-table.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add Windsurf to list of supported clients (#77)
  docs/toolhive/_partials/_client-compat-table.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add docs for new `thv run --tools` flag. (#72)
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Add security policy
  CONTRIBUTING.md
  SECURITY.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update UI doc by removing the warning about the Windows certificate
  docs/toolhive/guides-ui/install.mdx
  docs/toolhive/tutorials/quickstart-ui.mdx
Due: npx prettier --write, npx eslint --fix

Update UI doc by removing the warning about the Windows certificate (#79)
  docs/toolhive/guides-ui/install.mdx
  docs/toolhive/tutorials/quickstart-ui.mdx
Due: npx prettier --write, npx eslint --fix

Add Sourcegraph Amp as a supported client.
  docs/toolhive/_partials/_client-compat-table.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update docs/toolhive/_partials/_client-compat-table.md
  docs/toolhive/_partials/_client-compat-table.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Use the --tools flag multiple times
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Use the --tools flag multiple times (#81)
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Update filesystem-access.md
  docs/toolhive/guides-cli/filesystem-access.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

fix sqlite arguments example
  docs/toolhive/guides-cli/filesystem-access.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Document local registry
  docs/toolhive/guides-cli/registry.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Document local registry (#84)
  docs/toolhive/guides-cli/registry.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add Sourcegraph Amp as a supported client. (#80)
  docs/toolhive/_partials/_client-compat-table.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix broken links
  docs/toolhive/guides-cli/registry.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update registry docs
  docs/toolhive/guides-cli/registry.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update registry docs (#85)
  docs/toolhive/guides-cli/registry.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

docs: adds streamable http examples and documentation
  docs/toolhive/guides-k8s/intro.md
  docs/toolhive/guides-k8s/run-mcp-k8s.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

docs: adds streamable http examples and documentation (#96)
  docs/toolhive/guides-k8s/intro.md
  docs/toolhive/guides-k8s/run-mcp-k8s.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add governance docs (#97)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DCO.md
  SECURITY.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update Copilot instructions
  .github/copilot-instructions.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add custom prompt
  .github/prompts/doc-review.prompt.md
  .markdownlint-cli2.jsonc
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update config
  renovate.json
Due: npx prettier --write

Fix warning
  renovate.json
Due: npx prettier --write

Update Copilot instructions (#98)
  .github/copilot-instructions.md
  .github/prompts/doc-review.prompt.md
  .markdownlint-cli2.jsonc
Due: npx prettier --write, npx markdownlint-cli2 --fix

Remove Dependabot config
  .github/dependabot.yaml
Due: npx prettier --write

Document volume mounts using the UI
  docs/toolhive/guides-ui/run-mcp-servers.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add autogen-docs label to reference update PRs
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

Add autogen-docs label to reference update PRs (#115)
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

docs: Add comprehensive thv build command documentation
  docs/toolhive/guides-cli/advanced-cicd.mdx
  docs/toolhive/guides-cli/build-containers.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

docs: Fix link anchor in build-containers.mdx
  docs/toolhive/guides-cli/build-containers.mdx
Due: npx prettier --write, npx eslint --fix

docs: Fix ESLint errors in advanced-cicd.mdx
  docs/toolhive/guides-cli/advanced-cicd.mdx
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}) or (any of: *.md)) or (any of: *.{css,json,jsonc,yaml,yml})
  npx eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}
  npx markdownlint-cli2 --fix: any of: *.md
