Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs,mdx}": ["npx prettier --write", "npx eslint --fix"],
  "*.md": ["npx prettier --write", "npx markdownlint-cli2 --fix"],
  "*.{css,json,jsonc,yaml,yml}": ["npx prettier --write"]
}

Add WWW-Authenticate note and clarify scopesSupported
  docs/toolhive/guides-registry/authentication.mdx
Due: npx prettier --write, npx eslint --fix

Improve registry authentication documentation (#394)
  docs/toolhive/guides-registry/authentication.mdx
Due: npx prettier --write, npx eslint --fix

adds base for operator install docs
  docs/toolhive/guides-k8s/deploy-operator-helm.mdx
  docs/toolhive/guides-k8s/intro.mdx
  docs/toolhive/tutorials/opentelemetry.mdx
  docs/toolhive/tutorials/quickstart-k8s.mdx
Due: npx prettier --write, npx eslint --fix

Publish ToolHive updates for 2025-12-15
  blog/toolhive-updates/2025-12-15-updates.mdx
Due: npx prettier --write, npx eslint --fix

Update title and description
  blog/toolhive-updates/2025-12-15-updates.mdx
Due: npx prettier --write, npx eslint --fix

Shorten title
  blog/toolhive-updates/2025-12-15-updates.mdx
Due: npx prettier --write, npx eslint --fix

Publish ToolHive updates for 2025-12-15 (#403)
  blog/toolhive-updates/2025-12-15-updates.mdx
Due: npx prettier --write, npx eslint --fix

Fix deployment guide
  docs/toolhive/guides-registry/deployment.mdx
Due: npx prettier --write, npx eslint --fix

Remove namespaces for consistency
  docs/toolhive/guides-registry/deployment.mdx
Due: npx prettier --write, npx eslint --fix

Add namespaces
  docs/toolhive/guides-registry/deployment.mdx
Due: npx prettier --write, npx eslint --fix

Add note about discovery limitation
  docs/toolhive/guides-registry/configuration.mdx
  docs/toolhive/guides-registry/deployment.mdx
Due: npx prettier --write, npx eslint --fix

Fix deployment guide (#404)
  docs/toolhive/guides-registry/configuration.mdx
  docs/toolhive/guides-registry/deployment.mdx
Due: npx prettier --write, npx eslint --fix

Add docs about Registry deployment via Operator
  docs/toolhive/guides-k8s/deploy-registry.mdx
  docs/toolhive/guides-registry/authentication.mdx
  docs/toolhive/guides-registry/configuration.mdx
  docs/toolhive/guides-registry/deployment.mdx
  docs/toolhive/guides-registry/index.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Address PR comments
  docs/toolhive/guides-k8s/deploy-registry.mdx
  docs/toolhive/guides-registry/deployment.mdx
Due: npx prettier --write, npx eslint --fix

document vMCP support for MCPRemoteProxy backends
  docs/toolhive/concepts/vmcp.mdx
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
  docs/toolhive/guides-vmcp/intro.mdx
Due: npx prettier --write, npx eslint --fix

fix copilot feedback
  docs/toolhive/concepts/vmcp.mdx
  docs/toolhive/guides-vmcp/intro.mdx
Due: npx prettier --write, npx eslint --fix

Add docs about Registry deployment via Operator (#386)
  docs/toolhive/guides-k8s/deploy-registry.mdx
  docs/toolhive/guides-registry/authentication.mdx
  docs/toolhive/guides-registry/configuration.mdx
  docs/toolhive/guides-registry/deployment.mdx
  docs/toolhive/guides-registry/index.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Publish ToolHive updates for 2025-12-22
  blog/toolhive-updates/2025-12-08-updates.mdx
  blog/toolhive-updates/2025-12-15-updates.mdx
  blog/toolhive-updates/2025-12-22-updates.mdx
Due: npx prettier --write, npx eslint --fix

Publish ToolHive updates for 2025-12-22 (#412)
  blog/toolhive-updates/2025-12-08-updates.mdx
  blog/toolhive-updates/2025-12-15-updates.mdx
  blog/toolhive-updates/2025-12-22-updates.mdx
Due: npx prettier --write, npx eslint --fix

Add Claude skill for polishing weekly updates
  .claude/skills/polish-toolhive-updates/SKILL.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update .claude/skills/polish-toolhive-updates/SKILL.md
  .claude/skills/polish-toolhive-updates/SKILL.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Address review comments
  .claude/skills/polish-toolhive-updates/SKILL.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Change from skill to command
  .claude/commands/polish-toolhive-updates.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add Claude command for polishing weekly updates (#413)
  .claude/commands/polish-toolhive-updates.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix references to thv restart
  docs/toolhive/guides-cli/manage-mcp-servers.mdx
  docs/toolhive/tutorials/quickstart-cli.mdx
Due: npx prettier --write, npx eslint --fix

Initial rebranding assets and style pass
  docs/theme-preview.mdx
  docs/toolhive/index.mdx
  docusaurus.config.ts
  src/components/ProductCard/styles.module.css
  src/css/custom.css
  src/css/footer.css
  src/pages/index.module.css
  src/pages/index.tsx
  static/img/codegate-wordmark-black.svg
  static/img/codegate-wordmark-white.svg
  static/img/favicon.ico
  static/img/hero-bg-lg.jpg
  static/img/logos/stacklok-default-black.svg
  static/img/logos/stacklok-default-dark-green.svg
  static/img/logos/stacklok-default-light-green.svg
  static/img/logos/stacklok-default-white.svg
  static/img/logos/stacklok-symbol-black.svg
  static/img/logos/stacklok-symbol-dark-green.svg
  static/img/logos/stacklok-symbol-light-green.svg
  static/img/logos/stacklok-symbol-white.svg
  static/img/logos/toolhive-default-black.svg
  static/img/logos/toolhive-default-dark-green.svg
  static/img/logos/toolhive-default-light-green.svg
  static/img/logos/toolhive-default-white.svg
  static/img/logos/toolhive-symbol-black.svg
  static/img/logos/toolhive-symbol-dark-green.svg
  static/img/logos/toolhive-symbol-light-green.svg
  static/img/logos/toolhive-symbol-white.svg
  static/img/stacklok-favicon.svg
  static/img/stacklok-icon-black.svg
  static/img/stacklok-pattern-1.svg
  static/img/stacklok-pattern-2.svg
  static/img/stacklok-pattern-3.svg
  static/img/stacklok-wordmark-black.svg
  static/img/stacklok-wordmark-gradient.svg
  static/img/stacklok-wordmark-white.svg
  static/img/toolhive-icon-honey.svg
  static/img/toolhive-mascot.png
  static/img/toolhive-wordmark-black.svg
  static/img/toolhive-wordmark-white.svg
Due: npx prettier --write, npx eslint --fix

Additional styling
  docs/theme-preview.mdx
  src/css/custom.css
  src/utils/prismDark.ts
Due: npx prettier --write, npx eslint --fix

Restyle the search component
  src/css/custom.css
Due: npx prettier --write

Style details panels
  src/css/custom.css
Due: npx prettier --write

Update diagrams
  static/img/toolhive/toolhive-diagram-dark.svg
  static/img/toolhive/toolhive-diagram-light.svg
Due: none

Remove warnings about WinGet delays
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/tutorials/quickstart-cli.mdx
Due: npx prettier --write, npx eslint --fix

Remove warnings about WinGet delays (#425)
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/tutorials/quickstart-cli.mdx
Due: npx prettier --write, npx eslint --fix

Update VirtualMCP docs for groupRef changes
  docs/toolhive/guides-vmcp/composite-tools.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
  docs/toolhive/guides-vmcp/tool-aggregation.mdx
  docs/toolhive/tutorials/quickstart-vmcp.mdx
  package-lock.json
  static/api-specs/toolhive-crd-api.md
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

comments
  static/api-specs/toolhive-crd-api.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

include all from main
  static/api-specs/toolhive-crd-api.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

put back comment
  static/api-specs/toolhive-crd-api.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

remove API header
  static/api-specs/toolhive-crd-api.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update VirtualMCP docs for groupRef changes (#426)
  docs/toolhive/guides-vmcp/composite-tools.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
  docs/toolhive/guides-vmcp/tool-aggregation.mdx
  docs/toolhive/tutorials/quickstart-vmcp.mdx
  package-lock.json
  static/api-specs/toolhive-crd-api.md
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Normalize logo usage
  docs/toolhive/index.mdx
  docusaurus.config.ts
  src/pages/index.tsx
  static/img/logos/toolhive-byline-black.svg
  static/img/logos/toolhive-byline-white.svg
  static/img/logos/toolhive-default-dark-green.svg
  static/img/logos/toolhive-default-light-green.svg
  static/img/logos/toolhive-symbol-dark-green.svg
  static/img/logos/toolhive-symbol-light-green.svg
  static/img/stacklok-favicon.svg
Due: npx prettier --write, npx eslint --fix
