Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update Renovate config
  renovate.json
Due: npx prettier --write

Update package pinning
  package-lock.json
  package.json
Due: npx prettier --write

npm audit fix
  package-lock.json
Due: npx prettier --write

Fix broken links
  docs/toolhive/guides-cli/advanced-cicd.mdx
  docs/toolhive/guides-cli/build-containers.mdx
Due: npx prettier --write, npx eslint --fix

docs: Add comprehensive thv build command documentation (#116)
  docs/toolhive/guides-cli/advanced-cicd.mdx
  docs/toolhive/guides-cli/build-containers.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Update Renovate config (#137)
  package-lock.json
  package.json
  renovate.json
Due: npx prettier --write

Add note about secrets references, fix formatting
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/tutorials/quickstart-cli.mdx
Due: npx prettier --write, npx eslint --fix

Remove incorrect note about overriding settings
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Add runconfig import/export documentation (#142)
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/tutorials/quickstart-cli.mdx
Due: npx prettier --write, npx eslint --fix

Remove Dependabot config
  .github/dependabot.yaml
Due: npx prettier --write

Constrain node version
  package-lock.json
  package.json
Due: npx prettier --write

Remove Dependabot config, constrain node versions (#143)
  .github/dependabot.yaml
  package-lock.json
  package.json
Due: npx prettier --write

Add custom plugin for MCP metadata
  docusaurus.config.ts
  eslint.config.mjs
  package-lock.json
  package.json
  plugins/mcp-metadata-plugin/README.md
  plugins/mcp-metadata-plugin/package.json
  plugins/mcp-metadata-plugin/src/index.ts
  plugins/mcp-metadata-plugin/src/types.ts
  plugins/mcp-metadata-plugin/src/utils.ts
  src/components/MCPMetadata/index.tsx
  src/theme/MDXComponents.tsx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Add thv install script
  scripts/vercel-install-thv.sh
  vercel.json
Due: npx prettier --write

Add initial MCP usage guides
  docs/toolhive/guides-mcp/_template.mdx
  docs/toolhive/guides-mcp/fetch.mdx
  docs/toolhive/guides-mcp/filesystem.mdx
  docs/toolhive/guides-mcp/github.mdx
  sidebars.ts
  src/components/MCPMetadata/index.tsx
  static/img/toolhive/mcp-guides/filesystem-mcp-ui-dark.webp
  static/img/toolhive/mcp-guides/filesystem-mcp-ui-light.webp
Due: npx prettier --write, npx eslint --fix

Stub out new MCP guides
  docs/toolhive/guides-mcp/context7.mdx
  docs/toolhive/guides-mcp/k8s.mdx
  docs/toolhive/guides-mcp/osv.mdx
  docs/toolhive/guides-mcp/playwright.mdx
Due: npx prettier --write, npx eslint --fix

Update admonition syntax
  docs/theme-preview.mdx
  docs/toolhive/guides-cli/build-containers.mdx
  docs/toolhive/guides-cli/custom-permissions.mdx
  docs/toolhive/guides-cli/group-management.md
  docs/toolhive/guides-cli/index.mdx
  docs/toolhive/guides-cli/network-isolation.mdx
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-cli/secrets-management.mdx
  docs/toolhive/guides-cli/telemetry-and-metrics.md
  docs/toolhive/guides-k8s/intro.md
  docs/toolhive/guides-k8s/run-mcp-k8s.md
  docs/toolhive/guides-ui/index.mdx
  docs/toolhive/guides-ui/install.mdx
  docs/toolhive/guides-ui/network-isolation.mdx
  docs/toolhive/guides-ui/secrets-management.md
  docs/toolhive/tutorials/quickstart-cli.mdx
  docs/toolhive/tutorials/quickstart-k8s.mdx
  docs/toolhive/tutorials/quickstart-ui.mdx
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update LLM instructions
  .github/copilot-instructions.md
  CLAUDE.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update admonition title syntax (#145)
  .github/copilot-instructions.md
  CLAUDE.md
  docs/theme-preview.mdx
  docs/toolhive/guides-cli/build-containers.mdx
  docs/toolhive/guides-cli/custom-permissions.mdx
  docs/toolhive/guides-cli/group-management.md
  docs/toolhive/guides-cli/index.mdx
  docs/toolhive/guides-cli/network-isolation.mdx
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-cli/secrets-management.mdx
  docs/toolhive/guides-cli/telemetry-and-metrics.md
  docs/toolhive/guides-k8s/intro.md
  docs/toolhive/guides-k8s/run-mcp-k8s.md
  docs/toolhive/guides-ui/index.mdx
  docs/toolhive/guides-ui/install.mdx
  docs/toolhive/guides-ui/network-isolation.mdx
  docs/toolhive/guides-ui/secrets-management.md
  docs/toolhive/tutorials/quickstart-cli.mdx
  docs/toolhive/tutorials/quickstart-k8s.mdx
  docs/toolhive/tutorials/quickstart-ui.mdx
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update VS Code and dev container configs
  .devcontainer/devcontainer.json
  .vscode/settings.json
Due: npx prettier --write

Update registry references to toolhive-registry repo
  docs/toolhive/concepts/registry-criteria.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update registry references to toolhive-registry repo (#146)
  docs/toolhive/concepts/registry-criteria.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update guides
  docs/toolhive/guides-mcp/context7.mdx
  docs/toolhive/guides-mcp/filesystem.mdx
  docs/toolhive/guides-mcp/playwright.mdx
  static/img/toolhive/mcp-guides/playwright-mcp-ui-dark.webp
  static/img/toolhive/mcp-guides/playwright-mcp-ui-light.webp
Due: npx prettier --write, npx eslint --fix

Add LM Studio to client compatibility table
  docs/toolhive/_partials/_client-compat-table.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

docs: add new UI registry guide page
  docs/toolhive/guides-ui/registry.mdx
  static/img/toolhive/toolhive-ui-registry-dark.webp
  static/img/toolhive/toolhive-ui-registry-light.webp
  static/img/toolhive/toolhive-ui-registry-settings-dark.webp
  static/img/toolhive/toolhive-ui-registry-settings-light.webp
Due: npx prettier --write, npx eslint --fix

docs(sidebars): add new registry page the menu
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

refactor: rewording
  docs/toolhive/guides-ui/registry.mdx
Due: npx prettier --write, npx eslint --fix

refactor: use ToolHive instead of Toolhive
  docs/toolhive/guides-ui/registry.mdx
Due: npx prettier --write, npx eslint --fix

Update docs/toolhive/_partials/_client-compat-table.md
  docs/toolhive/_partials/_client-compat-table.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

refactor: rephrased the detail view and the previous paragraph
  docs/toolhive/guides-ui/registry.mdx
Due: npx prettier --write, npx eslint --fix

Toolhive UI registry (#148)
  docs/toolhive/guides-ui/registry.mdx
  sidebars.ts
  static/img/toolhive/toolhive-ui-registry-dark.webp
  static/img/toolhive/toolhive-ui-registry-light.webp
  static/img/toolhive/toolhive-ui-registry-settings-dark.webp
  static/img/toolhive/toolhive-ui-registry-settings-light.webp
Due: npx prettier --write, npx eslint --fix

Add LM Studio to client compatibility table (#147)
  docs/toolhive/_partials/_client-compat-table.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add AGENTS.md, make CLAUDE.md a symlink
  AGENTS.md
  CLAUDE.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add warning about MCP server default arguments
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Add warning about MCP server default arguments (#152)
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Update VS Code and agent configs (#151)
  .devcontainer/devcontainer.json
  .vscode/settings.json
  AGENTS.md
  CLAUDE.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add Goose to client compatibility table
  docs/toolhive/_partials/_client-compat-table.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add Goose to client compatibility table (#153)
  docs/toolhive/_partials/_client-compat-table.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add initial MCP usage guides
  docs/toolhive/guides-mcp/_template.mdx
  docs/toolhive/guides-mcp/context7.mdx
  docs/toolhive/guides-mcp/fetch.mdx
  docs/toolhive/guides-mcp/filesystem.mdx
  docs/toolhive/guides-mcp/github.mdx
  docs/toolhive/guides-mcp/k8s.mdx
  docs/toolhive/guides-mcp/osv.mdx
  docs/toolhive/guides-mcp/playwright.mdx
  sidebars.ts
  static/img/toolhive/mcp-guides/filesystem-mcp-ui-dark.webp
  static/img/toolhive/mcp-guides/filesystem-mcp-ui-light.webp
  static/img/toolhive/mcp-guides/playwright-mcp-ui-dark.webp
  static/img/toolhive/mcp-guides/playwright-mcp-ui-light.webp
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}) or (any of: *.md)) or (any of: *.{css,json,jsonc,yaml,yml})
  npx eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}
  npx markdownlint-cli2 --fix: any of: *.md
