Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Add Claude instructions file
  CLAUDE.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add Claude instructions file (#117)
  CLAUDE.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix linter issues
  docs/toolhive/guides-cli/advanced-cicd.mdx
  docs/toolhive/guides-cli/build-containers.mdx
Due: npx prettier --write, npx eslint --fix

enables claude on github repo for issues and pr's
  .github/workflows/claude.yml
Due: npx prettier --write

Fix formatting
  .github/workflows/claude.yml
Due: npx prettier --write

enables claude on github repo for issues and pr's (#118)
  .github/workflows/claude.yml
Due: npx prettier --write

mention volume mounts in each section
  docs/toolhive/guides-ui/run-mcp-servers.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Document volume mounts using the UI (#113)
  docs/toolhive/guides-ui/run-mcp-servers.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add initial MCP usage guides
  docs/toolhive/guides-mcp/_template.mdx
  docs/toolhive/guides-mcp/fetch.mdx
  docs/toolhive/guides-mcp/filesystem.mdx
  docs/toolhive/guides-mcp/github.mdx
  docs/toolhive/guides-mcp/index.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Add custom plugin for MCP metadata
  docusaurus.config.ts
  eslint.config.mjs
  package-lock.json
  package.json
  plugins/mcp-metadata-plugin/README.md
  plugins/mcp-metadata-plugin/package.json
  plugins/mcp-metadata-plugin/src/index.ts
  plugins/mcp-metadata-plugin/src/types.ts
  plugins/mcp-metadata-plugin/src/utils.ts
  src/components/MCPMetadata/index.tsx
  src/theme/MDXComponents.tsx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Fix up the plugin some more
  docs/toolhive/guides-mcp/filesystem.mdx
  plugins/mcp-metadata-plugin/src/index.ts
  plugins/mcp-metadata-plugin/src/types.ts
  plugins/mcp-metadata-plugin/src/utils.ts
  src/components/MCPMetadata/index.tsx
Due: npx prettier --write, npx eslint --fix

Remove caching from plugin
  docusaurus.config.ts
  plugins/mcp-metadata-plugin/src/index.ts
  plugins/mcp-metadata-plugin/src/types.ts
  plugins/mcp-metadata-plugin/src/utils.ts
Due: npx prettier --write, npx eslint --fix

Update guides
  docs/toolhive/guides-mcp/fetch.mdx
  docs/toolhive/guides-mcp/filesystem.mdx
  static/img/toolhive/mcp-guides/filesystem-mcp-ui-dark.webp
Due: npx prettier --write, npx eslint --fix

Update filesystem and github guides
  docs/toolhive/guides-mcp/filesystem.mdx
  docs/toolhive/guides-mcp/github.mdx
Due: npx prettier --write, npx eslint --fix

Update content
  docs/toolhive/guides-mcp/_template.mdx
  docs/toolhive/guides-mcp/fetch.mdx
  docs/toolhive/guides-mcp/filesystem.mdx
  docs/toolhive/guides-mcp/github.mdx
  src/components/MCPMetadata/index.tsx
  static/img/toolhive/mcp-guides/filesystem-mcp-ui-dark.webp
  static/img/toolhive/mcp-guides/filesystem-mcp-ui-light.webp
Due: npx prettier --write, npx eslint --fix

Add owner and date metadata
  docs/toolhive/guides-mcp/_template.mdx
  docs/toolhive/guides-mcp/fetch.mdx
  docs/toolhive/guides-mcp/filesystem.mdx
  docs/toolhive/guides-mcp/github.mdx
  docs/toolhive/guides-mcp/index.mdx
Due: npx prettier --write, npx eslint --fix

Add the JSON schema plugin
  docusaurus.config.ts
  package-lock.json
  package.json
  tsconfig.json
Due: npx prettier --write, npx eslint --fix

Add the ToolHive registry schema and update script
  docs/toolhive/reference/crd-spec.mdx
  docs/toolhive/reference/registry-schema.mdx
  scripts/update-toolhive-reference.sh
  static/api-specs/toolhive-crd-api.md
  static/api-specs/toolhive-registry-schema.json
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update workflow
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

Add sample prompts
  docs/toolhive/guides-mcp/_template.mdx
  docs/toolhive/guides-mcp/fetch.mdx
  docs/toolhive/guides-mcp/filesystem.mdx
  docs/toolhive/guides-mcp/github.mdx
Due: npx prettier --write, npx eslint --fix

Fix Google Analytics tag
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Switch from gtag to googleTagManager
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Fix Google Analytics tag (#120)
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Add SPDX headers
  plugins/mcp-metadata-plugin/src/index.ts
  plugins/mcp-metadata-plugin/src/types.ts
  plugins/mcp-metadata-plugin/src/utils.ts
  src/components/MCPMetadata/index.tsx
Due: npx prettier --write, npx eslint --fix

Add thv install script
  scripts/vercel-install-thv.sh
  vercel.json
Due: npx prettier --write

Add custom registry tutorial
  docs/toolhive/tutorials/custom-registry.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Add references menu to the navbar
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Add the ToolHive registry schema and update script
  .github/workflows/update-toolhive-reference.yml
  docs/toolhive/reference/crd-spec.mdx
  docs/toolhive/reference/registry-schema.mdx
  scripts/update-toolhive-reference.sh
  static/api-specs/toolhive-crd-api.md
  static/api-specs/toolhive-registry-schema.json
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update sidebar and add references to JSON schema
  docs/toolhive/guides-cli/registry.md
  docs/toolhive/reference/registry-schema.mdx
  docs/toolhive/tutorials/custom-registry.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Add documentation for groups
  docs/toolhive/guides-cli/client-configuration.mdx
  docs/toolhive/guides-cli/group-management.md
  docs/toolhive/guides-cli/manage-mcp-servers.md
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Fix note formatting
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Add custom registry tutorial and JSON schema reference (#123)
  .github/workflows/update-toolhive-reference.yml
  docs/toolhive/guides-cli/registry.md
  docs/toolhive/reference/crd-spec.mdx
  docs/toolhive/reference/registry-schema.mdx
  docs/toolhive/tutorials/custom-registry.mdx
  docusaurus.config.ts
  package-lock.json
  package.json
  scripts/update-toolhive-reference.sh
  sidebars.ts
  static/api-specs/toolhive-crd-api.md
  static/api-specs/toolhive-registry-schema.json
  tsconfig.json
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Address suggestions
  docs/toolhive/guides-cli/advanced-cicd.mdx
  docs/toolhive/guides-cli/build-containers.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Incorporate feedback
  docs/toolhive/guides-cli/group-management.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add documentation for groups (#124)
  docs/toolhive/guides-cli/client-configuration.mdx
  docs/toolhive/guides-cli/group-management.md
  docs/toolhive/guides-cli/manage-mcp-servers.md
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update Cline version
  docs/toolhive/_partials/_client-compat-table.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update example
  docs/toolhive/reference/client-compatibility.mdx
Due: npx prettier --write, npx eslint --fix

Update Cline version (#129)
  docs/toolhive/_partials/_client-compat-table.md
  docs/toolhive/reference/client-compatibility.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Path conditions:
  npx prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}) or (any of: *.md)) or (any of: *.{css,json,jsonc,yaml,yml})
  npx eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}
  npx markdownlint-cli2 --fix: any of: *.md
