Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

Retire open source Cloud UI docs (#1127)
  .claude/commands/polish-toolhive-updates.md
  .claude/skills/weekly-product-updates/SKILL.md
  .github/upstream-projects.yaml
  .github/workflows/upstream-release-docs.yml
  docs/platform/enterprise-cloud-ui/intro.mdx
  docs/platform/enterprise-desktop/deep-links.mdx
  docs/toolhive/contributing.mdx
  docs/toolhive/guides-cloud-ui/configuration.mdx
  docs/toolhive/guides-cloud-ui/deployment.mdx
  docs/toolhive/guides-cloud-ui/index.mdx
  docs/toolhive/guides-cloud-ui/intro.mdx
  docs/toolhive/guides-registry/index.mdx
  docs/toolhive/guides-registry/intro.mdx
  docs/toolhive/guides-registry/publish-servers.mdx
  docs/toolhive/index.mdx
  sidebars.ts
  static/img/toolhive/cloud-ui-dark.webp
  static/img/toolhive/cloud-ui-light.webp
  vercel.json
Due: npx prettier --write, npx eslint --fix

Rename Portal to Interfaces after Cloud UI retirement
  docs/toolhive/index.mdx
  static/img/toolhive/toolhive-diagram-dark.svg
  static/img/toolhive/toolhive-diagram-light.svg
  static/img/toolhive/toolhive-platform-dark.svg
  static/img/toolhive/toolhive-platform-light.svg
Due: npx prettier --write, npx eslint --fix

Address Copilot review feedback
  docs/toolhive/index.mdx
Due: npx prettier --write, npx eslint --fix

Rename Portal to Interfaces after Cloud UI retirement (#1128)
  docs/toolhive/index.mdx
  static/img/toolhive/toolhive-diagram-dark.svg
  static/img/toolhive/toolhive-diagram-light.svg
  static/img/toolhive/toolhive-platform-dark.svg
  static/img/toolhive/toolhive-platform-light.svg
Due: npx prettier --write, npx eslint --fix

Add tech-writer authoring skill
  .claude/skills/docs-review/SKILL.md
  .claude/skills/mcp-guide-writer/SKILL.md
  .claude/skills/tech-writer/SKILL.md
  .claude/skills/tech-writer/references/anti-patterns.md
  .claude/skills/tech-writer/references/explanation.md
  .claude/skills/tech-writer/references/how-to-guides.md
  .claude/skills/tech-writer/references/reference.md
  .claude/skills/tech-writer/references/tutorials.md
  .claude/skills/upstream-release-docs/SKILL.md
Due: npx prettier --write

Add tech-writer authoring skill (#1129)
  .claude/skills/docs-review/SKILL.md
  .claude/skills/mcp-guide-writer/SKILL.md
  .claude/skills/tech-writer/SKILL.md
  .claude/skills/tech-writer/references/anti-patterns.md
  .claude/skills/tech-writer/references/explanation.md
  .claude/skills/tech-writer/references/how-to-guides.md
  .claude/skills/tech-writer/references/reference.md
  .claude/skills/tech-writer/references/tutorials.md
  .claude/skills/upstream-release-docs/SKILL.md
Due: npx prettier --write

Fixup logo colors
  static/img/favicon.ico
  static/img/logos/stacklok-default-dark-green.svg
  static/img/logos/stacklok-default-light-green.svg
  static/img/logos/stacklok-symbol-dark-green.svg
  static/img/logos/stacklok-symbol-light-green.svg
  static/img/stacklok-favicon.svg
  static/img/toolhive/toolhive-platform-dark.svg
  static/img/toolhive/toolhive-platform-light.svg
Due: none

Fixup logo colors (#1130)
  static/img/favicon.ico
  static/img/logos/stacklok-default-dark-green.svg
  static/img/logos/stacklok-default-light-green.svg
  static/img/logos/stacklok-symbol-dark-green.svg
  static/img/logos/stacklok-symbol-light-green.svg
  static/img/stacklok-favicon.svg
  static/img/toolhive/toolhive-platform-dark.svg
  static/img/toolhive/toolhive-platform-light.svg
Due: none

Fix release docs reviewer routing (#1124)
  .claude/skills/upstream-release-docs/SKILL.md
  .github/scripts/assign_release_docs_reviewers.py
  .github/scripts/test_assign_release_docs_reviewers.py
  .github/workflows/_static-checks.yaml
  .github/workflows/upstream-release-docs.yml
  .gitignore
Due: npx prettier --write

Route Claude workflows through Stacklok AI gateway
  .github/workflows/autogen-docs-notify.yml
  .github/workflows/claude.yml
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Route Claude workflows through Stacklok AI gateway (#1135)
  .github/workflows/autogen-docs-notify.yml
  .github/workflows/claude.yml
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Fix zizmor self-references
  .github/workflows/_static-checks.yaml
  .github/workflows/claude.yml
  .github/workflows/on-pr.yaml
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Fix zizmor self-references (#1142)
  .github/workflows/_static-checks.yaml
  .github/workflows/claude.yml
  .github/workflows/on-pr.yaml
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Remove request body size limit section from CLI/K8s guides
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-k8s/run-mcp-k8s.mdx
Due: npx prettier --write, npx eslint --fix

Fix broken MCPExternalAuthConfig example
  docs/toolhive/reference/crds/index.mdx
  docs/toolhive/reference/crds/mcpexternalauthconfig.mdx
  scripts/extract-crd-schemas.mjs
  scripts/lib/crd-intros.mjs
  static/api-specs/toolhive-crds/mcpexternalauthconfigs.example.yaml
Due: npx prettier --write, npx eslint --fix

Add agent JWT auth and delegation guides
  docs/toolhive/concepts/embedded-auth-server.mdx
  docs/toolhive/guides-k8s/embedded-auth-server-k8s.mdx
  docs/toolhive/guides-vmcp/accept-workload-assertions.mdx
  docs/toolhive/guides-vmcp/delegate-agent-identity.mdx
  docs/toolhive/guides-vmcp/embedded-auth-server-vmcp.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Fix style and structure issues in delegation docs
  docs/toolhive/concepts/embedded-auth-server.mdx
  docs/toolhive/guides-vmcp/accept-workload-assertions.mdx
  docs/toolhive/guides-vmcp/delegate-agent-identity.mdx
  docs/toolhive/reference/authz-policy-reference.mdx
Due: npx prettier --write, npx eslint --fix

Update delegation docs to canonical inboundGrants schema
  docs/toolhive/concepts/embedded-auth-server.mdx
  docs/toolhive/guides-k8s/embedded-auth-server-k8s.mdx
  docs/toolhive/guides-vmcp/accept-workload-assertions.mdx
  docs/toolhive/guides-vmcp/delegate-agent-identity.mdx
  docs/toolhive/guides-vmcp/embedded-auth-server-vmcp.mdx
  docs/toolhive/reference/authz-policy-reference.mdx
Due: npx prettier --write, npx eslint --fix

Harvest delegation rationale from release sync
  docs/toolhive/guides-k8s/embedded-auth-server-k8s.mdx
  docs/toolhive/guides-vmcp/delegate-agent-identity.mdx
  docs/toolhive/guides-vmcp/embedded-auth-server-vmcp.mdx
Due: npx prettier --write, npx eslint --fix

Document embedded auth delegation
  docs/toolhive/guides-k8s/embedded-auth-server-k8s.mdx
  docs/toolhive/guides-vmcp/delegate-agent-identity.mdx
  docs/toolhive/guides-vmcp/embedded-auth-server-vmcp.mdx
Due: npx prettier --write, npx eslint --fix

Address review feedback on delegation docs
  docs/toolhive/concepts/embedded-auth-server.mdx
  docs/toolhive/guides-vmcp/accept-workload-assertions.mdx
  docs/toolhive/guides-vmcp/delegate-agent-identity.mdx
  docs/toolhive/guides-vmcp/embedded-auth-server-vmcp.mdx
Due: npx prettier --write, npx eslint --fix

Add agent JWT auth and delegation guides (#1116)
  docs/toolhive/concepts/embedded-auth-server.mdx
  docs/toolhive/guides-k8s/embedded-auth-server-k8s.mdx
  docs/toolhive/guides-vmcp/accept-workload-assertions.mdx
  docs/toolhive/guides-vmcp/delegate-agent-identity.mdx
  docs/toolhive/guides-vmcp/embedded-auth-server-vmcp.mdx
  docs/toolhive/reference/authz-policy-reference.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Correct spelling of 'SigStore' to 'Sigstore'
  docs/platform/index.mdx
Due: npx prettier --write, npx eslint --fix

Rename console page
  docs/platform/enterprise-console/index.mdx
  docs/platform/enterprise-platform/configure-identity.mdx
  docs/platform/enterprise-platform/deployment.mdx
  docs/platform/enterprise-platform/distributed-deployments.mdx
  docs/platform/enterprise-platform/index.mdx
  docs/platform/index.mdx
Due: npx prettier --write, npx eslint --fix

Extend prism languages to equate cedar to rust
  src/theme/prism-include-languages.ts
Due: npx prettier --write, npx eslint --fix

Update Cedar code blocks from text to cedar
  docs/toolhive/concepts/cedar-policies.mdx
  docs/toolhive/concepts/embedded-auth-server.mdx
  docs/toolhive/reference/authz-policy-reference.mdx
Due: npx prettier --write, npx eslint --fix

Add Mecatl product card to homepage
  src/pages/index.tsx
  static/img/logos/mecatl-mascot.png
Due: npx prettier --write, npx eslint --fix

Add Mecatl product card to homepage (#1156)
  src/pages/index.tsx
  static/img/logos/mecatl-mascot.png
Due: npx prettier --write, npx eslint --fix

Use repo variable for Anthropic base URL
  .github/workflows/autogen-docs-notify.yml
  .github/workflows/claude.yml
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Drop short-lived v0.49.0 OAuth default change note
  docs/toolhive/guides-k8s/embedded-auth-server-k8s.mdx
  docs/toolhive/guides-vmcp/embedded-auth-server-vmcp.mdx
Due: npx prettier --write, npx eslint --fix

Document Okta directory reconciliation
  docs/platform/enterprise-directory/okta-directory-sync.mdx
  docs/platform/enterprise-directory/scim-provisioning.mdx
  docs/platform/enterprise-directory/users-and-groups.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Fix directory configuration examples
  docs/platform/enterprise-directory/okta-directory-sync.mdx
  docs/platform/enterprise-directory/scim-provisioning.mdx
Due: npx prettier --write, npx eslint --fix

Clarify directory prerequisites
  docs/platform/enterprise-directory/okta-directory-sync.mdx
Due: npx prettier --write, npx eslint --fix

Use repo variable for Anthropic base URL (#1157)
  .github/workflows/autogen-docs-notify.yml
  .github/workflows/claude.yml
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Warn about global Redis password limitation
  docs/platform/enterprise-platform/deployment.mdx
Due: npx prettier --write, npx eslint --fix

Remove SCIM query guidance
  docs/platform/enterprise-directory/scim-provisioning.mdx
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}) or (any of: *.md)) or (any of: *.{css,json,jsonc,yaml,yml})
  npx eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}
