Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Fix unimplemented pass_through auth strategy references
  docs/toolhive/guides-vmcp/authentication.mdx
Due: npx prettier --write, npx eslint --fix

Add working YAML examples to vMCP quickstart tutorial
  docs/toolhive/tutorials/quickstart-vmcp.mdx
Due: npx prettier --write, npx eslint --fix

Remove unimplemented features, add tool aggregation example
  docs/toolhive/guides-vmcp/authentication.mdx
  docs/toolhive/guides-vmcp/tool-aggregation.mdx
Due: npx prettier --write, npx eslint --fix

Fix vMCP docs to match actual CRD field names
  docs/toolhive/guides-vmcp/authentication.mdx
  docs/toolhive/guides-vmcp/composite-tools.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
Due: npx prettier --write, npx eslint --fix

Simplify authentication docs to tested configurations (#343)
  docs/toolhive/guides-vmcp/authentication.mdx
Due: npx prettier --write, npx eslint --fix

Polish vMCP docs (#347)
  .github/copilot-instructions.md
  AGENTS.md
  STYLE-GUIDE.md
  docs/toolhive/concepts/vmcp.mdx
  docs/toolhive/guides-k8s/deploy-operator-helm.mdx
  docs/toolhive/guides-vmcp/authentication.mdx
  docs/toolhive/guides-vmcp/composite-tools.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
  docs/toolhive/guides-vmcp/index.mdx
  docs/toolhive/guides-vmcp/intro.mdx
  docs/toolhive/guides-vmcp/tool-aggregation.mdx
  docs/toolhive/tutorials/quickstart-vmcp.mdx
  docusaurus.config.ts
  sidebars.ts
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Fix broken link to deleted quickstart.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
Due: npx prettier --write, npx eslint --fix

Fix vMCP docs: remove non-existent CRD features
  docs/toolhive/guides-vmcp/authentication.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
Due: npx prettier --write, npx eslint --fix

Address PR feedback for Virtual MCP documentation
  docs/toolhive/concepts/vmcp-architecture.mdx
  docs/toolhive/guides-vmcp/intro.mdx
  docs/toolhive/guides-vmcp/quickstart.mdx
  docs/toolhive/tutorials/quickstart-vmcp.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Address PR feedback for Virtual MCP documentation
  docs/toolhive/concepts/vmcp-architecture.mdx
  docs/toolhive/guides-vmcp/intro.mdx
  docs/toolhive/tutorials/quickstart-vmcp.mdx
Due: npx prettier --write, npx eslint --fix

Address feedback about terminology
  docs/toolhive/concepts/vmcp.mdx
  docs/toolhive/guides-vmcp/composite-tools.mdx
  docs/toolhive/guides-vmcp/intro.mdx
  docs/toolhive/guides-vmcp/tool-aggregation.mdx
Due: npx prettier --write, npx eslint --fix

Update Claude workflow permissions to allow write
  .github/workflows/claude.yml
Due: npx prettier --write

Update Claude workflow permissions to allow write (#365)
  .github/workflows/claude.yml
Due: npx prettier --write

Add Virtual MCP Server documentation (#326)
  .github/copilot-instructions.md
  AGENTS.md
  STYLE-GUIDE.md
  docs/toolhive/concepts/vmcp.mdx
  docs/toolhive/guides-k8s/deploy-operator-helm.mdx
  docs/toolhive/guides-vmcp/authentication.mdx
  docs/toolhive/guides-vmcp/composite-tools.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
  docs/toolhive/guides-vmcp/index.mdx
  docs/toolhive/guides-vmcp/intro.mdx
  docs/toolhive/guides-vmcp/tool-aggregation.mdx
  docs/toolhive/tutorials/quickstart-vmcp.mdx
  docusaurus.config.ts
  sidebars.ts
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Fix config
  renovate.json
Due: npx prettier --write

Update diagrams
  static/img/toolhive/toolhive-diagram-dark.svg
  static/img/toolhive/toolhive-diagram-light.svg
Due: none

Remove unused image
  static/img/toolhive/vscode-config-update.webp
Due: none

Add Renovate customManager for MCP guide Docker images (#369)
  renovate.json
Due: npx prettier --write

Refresh diagram on the intro page (#370)
  static/img/toolhive/toolhive-diagram-dark.svg
  static/img/toolhive/toolhive-diagram-light.svg
  static/img/toolhive/vscode-config-update.webp
Due: none

Add concept guide for MCP server groups (#363)
  docs/toolhive/concepts/groups.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Add ToolHive Registry documentation
  docs/toolhive/guides-registry/api-reference.mdx
  docs/toolhive/guides-registry/configuration.mdx
  docs/toolhive/guides-registry/database.mdx
  docs/toolhive/guides-registry/deployment.mdx
  docs/toolhive/guides-registry/index.mdx
  docs/toolhive/guides-registry/intro.mdx
  docs/toolhive/guides-registry/local-dev.mdx
  docusaurus.config.ts
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Fix Registry API documentation to match current implementation
  docs/toolhive/guides-registry/api-reference.mdx
  docs/toolhive/guides-registry/configuration.mdx
  docs/toolhive/guides-registry/database.mdx
  docs/toolhive/guides-registry/deployment.mdx
  docs/toolhive/guides-registry/intro.mdx
Due: npx prettier --write, npx eslint --fix

WIP
  docs/toolhive/guides-registry/configuration.mdx
  docs/toolhive/guides-registry/deployment.mdx
  docs/toolhive/guides-registry/intro.mdx
  docs/toolhive/guides-registry/local-dev.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Further fixes
  docs/toolhive/guides-registry/api-reference.mdx
  docs/toolhive/guides-registry/configuration.mdx
  docs/toolhive/guides-registry/database.mdx
  docs/toolhive/guides-registry/deployment.mdx
  docs/toolhive/guides-registry/index.mdx
  docs/toolhive/guides-registry/intro.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

PR comments
  docs/toolhive/guides-registry/index.mdx
  docs/toolhive/guides-registry/intro.mdx
Due: npx prettier --write, npx eslint --fix

Improve deployment instructions for Registry
  docs/toolhive/guides-registry/deployment.mdx
Due: npx prettier --write, npx eslint --fix

Split the authentication docs
  docs/toolhive/guides-registry/authentication.mdx
  docs/toolhive/guides-registry/configuration.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Add docs on workload discovery
  docs/toolhive/guides-registry/configuration.mdx
  docs/toolhive/guides-registry/deployment.mdx
  docs/toolhive/guides-registry/intro.mdx
Due: npx prettier --write, npx eslint --fix

Add cross references back to Registry Server
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-k8s/run-mcp-k8s.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
Due: npx prettier --write, npx eslint --fix

Add ToolHive Registry documentation (#348)
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-k8s/run-mcp-k8s.mdx
  docs/toolhive/guides-registry/authentication.mdx
  docs/toolhive/guides-registry/configuration.mdx
  docs/toolhive/guides-registry/database.mdx
  docs/toolhive/guides-registry/deployment.mdx
  docs/toolhive/guides-registry/index.mdx
  docs/toolhive/guides-registry/intro.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
  docusaurus.config.ts
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Update docs/toolhive/guides-ui/registry.mdx
  docs/toolhive/guides-ui/registry.mdx
Due: npx prettier --write, npx eslint --fix

Document groups in registry (#345)
  docs/toolhive/guides-ui/registry.mdx
  docs/toolhive/tutorials/custom-registry.mdx
Due: npx prettier --write, npx eslint --fix

Add registry API reference
  docs/toolhive/reference/registry-api.mdx
  docusaurus.config.ts
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Add welcome post
  blog/toolhive-updates/2025-12-02-placeholder.mdx
  blog/toolhive-updates/2025-12-05-hello-world.mdx
Due: npx prettier --write, npx eslint --fix

Update title and remove extra H1
  blog/toolhive-updates/2025-12-05-hello-world.mdx
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Enable blog plugin for ToolHive Updates section (#339)
  .prettierrc
  blog/toolhive-updates/2025-12-05-hello-world.mdx
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Add concept guide for optimizing LLM context with tool filtering and overrides
  docs/toolhive/concepts/groups.mdx
  docs/toolhive/concepts/tool-optimization.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Update agent instructions
  .github/copilot-instructions.md
  AGENTS.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Path conditions:
  npx prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}) or (any of: *.md)) or (any of: *.{css,json,jsonc,yaml,yml})
  npx eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}
  npx markdownlint-cli2 --fix: any of: *.md
