Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

Move secrets to container-based options group
  docs/toolhive/guides-cli/configure-mcp-servers.mdx
  docs/toolhive/guides-cli/run-remote-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Condense remote server naming convention note
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Address Copilot review feedback
  docs/toolhive/guides-cli/configure-mcp-servers.mdx
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-cli/run-remote-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Split UI Run MCP servers guide into two pages
  docs/toolhive/_partials/_remote-mcp-auth-examples.mdx
  docs/toolhive/guides-k8s/connect-clients.mdx
  docs/toolhive/guides-mcp/filesystem.mdx
  docs/toolhive/guides-ui/configure-mcp-servers.mdx
  docs/toolhive/guides-ui/run-mcp-servers.mdx
  sidebars.ts
  static/img/mcp-servers/local-mcp.svg
  static/img/mcp-servers/remote-mcp.svg
Due: npx prettier --write, npx eslint --fix

Rephrase configure page description to drop hyphen
  docs/toolhive/guides-ui/configure-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Rephrase configure page description to drop hyphen
  docs/toolhive/guides-cli/configure-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Rename container-based options to local servers
  docs/toolhive/guides-cli/configure-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

docs-notify: harden Slack workflow against prompt-injection exfiltration
  .github/scripts/post_autogen_docs_slack.py
  .github/workflows/autogen-docs-notify.yml
Due: npx prettier --write

Split UI Run MCP servers guide into two pages (#982)
  docs/toolhive/_partials/_remote-mcp-auth-examples.mdx
  docs/toolhive/guides-k8s/connect-clients.mdx
  docs/toolhive/guides-mcp/filesystem.mdx
  docs/toolhive/guides-ui/configure-mcp-servers.mdx
  docs/toolhive/guides-ui/run-mcp-servers.mdx
  sidebars.ts
  static/img/mcp-servers/local-mcp.svg
  static/img/mcp-servers/remote-mcp.svg
Due: npx prettier --write, npx eslint --fix

Resolve reviewer GitHub handles via team.profile.get + users.profile.get
  .github/scripts/post_autogen_docs_slack.py
Due: none

Run prettier fix
  .claude/skills/upstream-release-docs/SKILL.md
  docs/toolhive/guides-k8s/migrate-to-v1beta1.mdx
  src/utils/buildHierarchicalSidebar.ts
Due: npx prettier --write, npx eslint --fix

Split CLI "Run MCP servers" guide into three pages (#981)
  docs/toolhive/concepts/tool-optimization.mdx
  docs/toolhive/guides-cli/configure-mcp-servers.mdx
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-cli/run-remote-mcp-servers.mdx
  docs/toolhive/guides-k8s/connect-clients.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Remove alpha note from MCPRemoteProxy page
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
Due: npx prettier --write, npx eslint --fix

Remove alpha note from MCPRemoteProxy page (#990)
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
Due: npx prettier --write, npx eslint --fix

Fix stale vMCP-to-MCPRemoteProxy auth claims
  docs/toolhive/concepts/vmcp.mdx
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
  docs/toolhive/guides-vmcp/intro.mdx
Due: npx prettier --write, npx eslint --fix

Clarify vMCP backend auth and backend types
  docs/toolhive/concepts/vmcp.mdx
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
  docs/toolhive/guides-vmcp/intro.mdx
Due: npx prettier --write, npx eslint --fix

Fix stale vMCP-to-MCPRemoteProxy auth claims (#991)
  docs/toolhive/concepts/vmcp.mdx
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
  docs/toolhive/guides-vmcp/intro.mdx
Due: npx prettier --write, npx eslint --fix

Remove id-token permission from Slack workflow
  .github/workflows/autogen-docs-notify.yml
Due: npx prettier --write

Remove id-token permission from Slack workflow (#994)
  .github/workflows/autogen-docs-notify.yml
Due: npx prettier --write

Fix Slack notify workflow GitHub auth
  .github/workflows/autogen-docs-notify.yml
Due: npx prettier --write

Fix Slack notify workflow GitHub auth (#995)
  .github/workflows/autogen-docs-notify.yml
Due: npx prettier --write

Fix git checkout for Slack notify workflow
  .github/workflows/autogen-docs-notify.yml
Due: npx prettier --write

Fix git checkout for Slack notify workflow (#996)
  .github/workflows/autogen-docs-notify.yml
Due: npx prettier --write

Fix allowedTools syntax across Claude workflows
  .github/workflows/autogen-docs-notify.yml
  .github/workflows/claude.yml
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Tighten Origin headers section in run-mcp-servers
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Fix allowedTools syntax across Claude workflows (#997)
  .github/workflows/autogen-docs-notify.yml
  .github/workflows/claude.yml
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Stop Slack notify step from loading project config
  .github/workflows/autogen-docs-notify.yml
Due: npx prettier --write

Stop Slack notify step from loading project config (#998)
  .github/workflows/autogen-docs-notify.yml
Due: npx prettier --write

Fix Slack notify prompt to use literal values, not $VAR
  .github/workflows/autogen-docs-notify.yml
Due: npx prettier --write

Fix Slack notify prompt to use literal values, not $VAR (#999)
  .github/workflows/autogen-docs-notify.yml
Due: npx prettier --write

Drop unsupported XAA example, fix optimizer admonition
  docs/toolhive/guides-vmcp/authentication.mdx
  docs/toolhive/guides-vmcp/optimizer.mdx
Due: npx prettier --write, npx eslint --fix

Fix autogen-docs notify workflow trigger
  .github/workflows/autogen-docs-notify.yml
Due: npx prettier --write

Fix autogen-docs notify workflow trigger (#1002)
  .github/workflows/autogen-docs-notify.yml
Due: npx prettier --write

Reform Notion MCP guide for Kubernetes remote proxy support
  docs/toolhive/guides-mcp/notion-remote.mdx
Due: npx prettier --write, npx eslint --fix

Refresh MCP guides after PR #1001 image bumps
  docs/toolhive/guides-mcp/context7.mdx
  docs/toolhive/guides-mcp/fetch.mdx
  docs/toolhive/guides-mcp/filesystem.mdx
  docs/toolhive/guides-mcp/github.mdx
  docs/toolhive/guides-mcp/grafana.mdx
  docs/toolhive/guides-mcp/k8s.mdx
  docs/toolhive/guides-mcp/osv.mdx
  docs/toolhive/guides-mcp/playwright.mdx
Due: npx prettier --write, npx eslint --fix

Fix github.mdx wildcard syntax per Copilot review
  docs/toolhive/guides-mcp/github.mdx
Due: npx prettier --write, npx eslint --fix

Address Copilot review comments on notion-remote.mdx
  docs/toolhive/guides-mcp/notion-remote.mdx
Due: npx prettier --write, npx eslint --fix

Fix author check in autogen-docs notify resolve step
  .github/workflows/autogen-docs-notify.yml
Due: npx prettier --write

Add workflow_dispatch for manual notify retries
  .github/workflows/autogen-docs-notify.yml
Due: npx prettier --write

Address Copilot review findings
  .github/workflows/autogen-docs-notify.yml
Due: npx prettier --write

Path conditions:
  npx prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}) or (any of: *.md)) or (any of: *.{css,json,jsonc,yaml,yml})
  npx eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}
