Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs,mdx}": ["npx prettier --write", "npx eslint --fix"],
  "*.md": ["npx prettier --write", "npx markdownlint-cli2 --fix"],
  "*.{css,json,jsonc,yaml,yml}": ["npx prettier --write"]
}

Add Rancher Desktop to prerequisites
  docs/toolhive/guides-cli/install.mdx
Due: npx prettier --write, npx eslint --fix

moved client register/remove commands under client
  docs/toolhive/guides-cli/client-configuration.md
  docs/toolhive/reference/cli/thv_client.md
  docs/toolhive/reference/cli/thv_client_register.md
  docs/toolhive/reference/cli/thv_client_remove.md
  docs/toolhive/reference/cli/thv_config.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

format client-configuration.md with Prettier to resolve CI failure
  docs/toolhive/guides-cli/client-configuration.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

moved list-regiserted-clients under client
  docs/toolhive/guides-cli/client-configuration.md
  docs/toolhive/reference/cli/thv_client.md
  docs/toolhive/reference/cli/thv_client_list-registered.md
  docs/toolhive/reference/cli/thv_config.md
  docs/toolhive/reference/cli/thv_config_list-registered-clients.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

rearranged the commands
  docs/toolhive/reference/cli/thv_client.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add Rancher Desktop to prerequisites (#52)
  docs/toolhive/guides-cli/install.mdx
Due: npx prettier --write, npx eslint --fix

Remove allow_transport from network permissions
  docs/toolhive/guides-cli/custom-permissions.mdx
Due: npx prettier --write, npx eslint --fix

Remove allow_transport from network permissions (#55)
  docs/toolhive/guides-cli/custom-permissions.mdx
Due: npx prettier --write, npx eslint --fix

Add note about VS Code 1.102 compatibility
  docs/toolhive/_partials/_client-compat-table.md
  docs/toolhive/reference/client-compatibility.mdx
  static/img/toolhive/vscode-config-update.webp
  static/img/toolhive/vscode-mcp-start.webp
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

moved client register/remove commands under client (#54)
  docs/toolhive/guides-cli/client-configuration.md
  docs/toolhive/reference/cli/thv_client.md
  docs/toolhive/reference/cli/thv_client_list-registered.md
  docs/toolhive/reference/cli/thv_client_register.md
  docs/toolhive/reference/cli/thv_client_remove.md
  docs/toolhive/reference/cli/thv_config.md
  docs/toolhive/reference/cli/thv_config_list-registered-clients.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix K8s guides
  docs/toolhive/guides-k8s/deploy-operator-helm.md
  docs/toolhive/guides-k8s/run-mcp-k8s.md
  docs/toolhive/tutorials/toolhive-operator.mdx
  static/img/toolhive/quickstart/vscode-agent-mode-dark.webp
  static/img/toolhive/quickstart/vscode-agent-mode-light.webp
  static/img/toolhive/quickstart/vscode-mcp-running-dark.webp
  static/img/toolhive/quickstart/vscode-mcp-running-light.webp
  static/img/toolhive/quickstart/vscode-mcp-start-dark.webp
  static/img/toolhive/quickstart/vscode-mcp-start-light.webp
  static/img/toolhive/quickstart/vscode-settings-dark.webp
  static/img/toolhive/quickstart/vscode-settings-light.webp
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Add issue link
  docs/toolhive/reference/client-compatibility.mdx
Due: npx prettier --write, npx eslint --fix

Add note about VS Code 1.102 (#58)
  docs/toolhive/_partials/_client-compat-table.md
  docs/toolhive/reference/client-compatibility.mdx
  static/img/toolhive/vscode-config-update.webp
  static/img/toolhive/vscode-mcp-start.webp
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Fix K8s guides (#57)
  docs/toolhive/guides-k8s/deploy-operator-helm.md
  docs/toolhive/guides-k8s/run-mcp-k8s.md
  docs/toolhive/tutorials/toolhive-operator.mdx
  static/img/toolhive/quickstart/vscode-agent-mode-dark.webp
  static/img/toolhive/quickstart/vscode-agent-mode-light.webp
  static/img/toolhive/quickstart/vscode-mcp-running-dark.webp
  static/img/toolhive/quickstart/vscode-mcp-running-light.webp
  static/img/toolhive/quickstart/vscode-mcp-start-dark.webp
  static/img/toolhive/quickstart/vscode-mcp-start-light.webp
  static/img/toolhive/quickstart/vscode-settings-dark.webp
  static/img/toolhive/quickstart/vscode-settings-light.webp
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Add note abour pre-loaded configs
  docs/toolhive/guides-ui/network-isolation.mdx
Due: npx prettier --write, npx eslint --fix

Add troubleshooting note for the Linux tray icon
  docs/toolhive/guides-ui/install.mdx
Due: npx prettier --write, npx eslint --fix

Move registry contribution to the concepts page
  docs/toolhive/concepts/registry-criteria.md
  docs/toolhive/guides-cli/registry.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add network transport section
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Add Kiro and workaround for STDIO-only clients
  docs/toolhive/_partials/_client-compat-table.md
  docs/toolhive/reference/client-compatibility.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Move registry contribution to the concepts page (#62)
  docs/toolhive/concepts/registry-criteria.md
  docs/toolhive/guides-cli/registry.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix example text
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Update port randomization
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Add Kiro and workaround for STDIO-only clients (#64)
  docs/toolhive/_partials/_client-compat-table.md
  docs/toolhive/reference/client-compatibility.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Add network transport section (#63)
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Add troubleshooting note for the Linux tray icon (#60)
  docs/toolhive/guides-ui/install.mdx
Due: npx prettier --write, npx eslint --fix

Update VS Code compatibility
  docs/toolhive/_partials/_client-compat-table.md
  docs/toolhive/reference/client-compatibility.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update VS Code compatibility (#69)
  docs/toolhive/_partials/_client-compat-table.md
  docs/toolhive/reference/client-compatibility.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Fix param style consistency
  docs/toolhive/guides-cli/api-server.md
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/guides-cli/manage-mcp-servers.md
  docs/toolhive/guides-cli/registry.md
  docs/toolhive/guides-cli/secrets-management.mdx
  docs/toolhive/guides-k8s/deploy-operator-helm.md
  docs/toolhive/tutorials/quickstart-cli.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Refactor and clarify custom permissions docs
  docs/toolhive/guides-cli/custom-permissions.mdx
  docs/toolhive/guides-cli/filesystem-access.md
  docs/toolhive/guides-cli/network-isolation.mdx
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-k8s/run-mcp-k8s.md
  sidebars.ts
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update troubleshooting
  docs/toolhive/guides-cli/filesystem-access.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Enhance examples
  docs/toolhive/guides-cli/filesystem-access.md
  docs/toolhive/guides-cli/network-isolation.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update PR template
  .github/pull_request_template.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add specific filesystem examples
  docs/toolhive/guides-cli/filesystem-access.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

More polishing, add related info links
  docs/toolhive/guides-cli/custom-permissions.mdx
  docs/toolhive/guides-cli/filesystem-access.md
  docs/toolhive/guides-cli/network-isolation.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Add telemetry and observability documentation
  .markdownlint.json
  docs/toolhive/concepts/observability.md
  docs/toolhive/guides-cli/manage-mcp-servers.md
  docs/toolhive/guides-cli/telemetry-and-metrics.md
  docusaurus.config.ts
  sidebars.ts
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Add telemetry and observability documentation (#70)
  .markdownlint.json
  docs/toolhive/concepts/observability.md
  docs/toolhive/guides-cli/manage-mcp-servers.md
  docs/toolhive/guides-cli/telemetry-and-metrics.md
  docusaurus.config.ts
  sidebars.ts
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Add new setting screen, other minor polish
  docs/toolhive/guides-ui/install.mdx
Due: npx prettier --write, npx eslint --fix

Add new setting screen, other minor polish (#71)
  docs/toolhive/guides-ui/install.mdx
Due: npx prettier --write, npx eslint --fix
