Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

adds note for /data directory
  docs/toolhive/guides-registry/configuration.mdx
Due: npx prettier --write, npx eslint --fix

Add test-docs skill for validating documentation
  .claude/skills/test-docs/SKILL.md
  .claude/skills/test-docs/scripts/check-prereqs.sh
Due: npx prettier --write, npx markdownlint-cli2 --fix

Exclude .claude/ from linters
  .markdownlint-cli2.jsonc
  .prettierignore
Due: npx prettier --write

Address Copilot review feedback
  .claude/skills/test-docs/SKILL.md
  .claude/skills/test-docs/scripts/check-prereqs.sh
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add test-docs skill for validating documentation (#520)
  .claude/skills/test-docs/SKILL.md
  .claude/skills/test-docs/scripts/check-prereqs.sh
  .markdownlint-cli2.jsonc
  .prettierignore
Due: npx prettier --write, npx markdownlint-cli2 --fix

Clarify kubernetes registry limitation in documentation (#509)
  docs/toolhive/guides-k8s/deploy-registry.mdx
  docs/toolhive/guides-registry/configuration.mdx
Due: npx prettier --write, npx eslint --fix

Refine linter scopes for LLM vs documentation content
  .markdownlint-cli2.jsonc
  .markdownlint.json
  .prettierignore
  .prettierrc
  docs/toolhive/.markdownlint.json
Due: npx prettier --write

Apply proseWrap: never to test-docs skill
  .claude/skills/test-docs/SKILL.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add remark-lint for MDX markdown linting via ESLint
  .remarkrc.mjs
  eslint.config.mjs
  package-lock.json
  package.json
Due: npx prettier --write, npx eslint --fix

Remove markdownlint in favor of remark-lint
  .devcontainer/devcontainer.json
  .github/prompts/doc-review.prompt.md
  .github/workflows/_static-checks.yaml
  .lintstagedrc
  .markdownlint-cli2.jsonc
  .markdownlint.json
  .vscode/extensions.json
  AGENTS.md
  README.md
  STYLE-GUIDE.md
  docs/toolhive/.markdownlint.json
  docs/toolhive/_partials/.markdownlint.json
  docs/toolhive/reference/cli/.markdownlint.json
  package-lock.json
  package.json
  renovate.json
  src/components/ProductCard/README.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Ignore autogenerated crd-spec.md in ESLint
  eslint.config.mjs
Due: npx prettier --write, npx eslint --fix

Add includeIgnoreFile to eslint config
  eslint.config.mjs
  package-lock.json
  package.json
Due: npx prettier --write, npx eslint --fix

Remove markdownlint
  .devcontainer/devcontainer.json
  .github/prompts/doc-review.prompt.md
  .github/workflows/_static-checks.yaml
  .lintstagedrc
  .markdownlint-cli2.jsonc
  .markdownlint.json
  .vscode/extensions.json
  AGENTS.md
  README.md
  STYLE-GUIDE.md
  docs/toolhive/.markdownlint.json
  docs/toolhive/_partials/.markdownlint.json
  docs/toolhive/reference/cli/.markdownlint.json
  package-lock.json
  package.json
  renovate.json
  src/components/ProductCard/README.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add Gemini CLI to client compatibility list (#511)
  docs/toolhive/reference/client-compatibility.mdx
Due: npx prettier --write, npx eslint --fix

Add CLI and UI coexistence section to CLI install guide
  docs/toolhive/guides-cli/install.mdx
Due: npx prettier --write, npx eslint --fix

Add FAQ entry for CLI/UI coexistence
  docs/toolhive/faq.mdx
Due: npx prettier --write, npx eslint --fix

Add CLI access tip to UI install guide
  docs/toolhive/guides-ui/install.mdx
Due: npx prettier --write, npx eslint --fix

Update index pages with CLI/UI coexistence info
  docs/toolhive/guides-cli/index.mdx
  docs/toolhive/guides-ui/index.mdx
Due: npx prettier --write, npx eslint --fix

Add CLI access guide for ToolHive UI
  docs/toolhive/guides-ui/cli-access.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Apply suggestion from @Copilot
  docs/toolhive/guides-cli/registry.mdx
Due: npx prettier --write, npx eslint --fix

Update docs/toolhive/guides-ui/cli-access.mdx
  docs/toolhive/guides-ui/cli-access.mdx
Due: npx prettier --write, npx eslint --fix

Add VS Code Server to client compatibility
  docs/toolhive/reference/client-compatibility.mdx
Due: npx prettier --write, npx eslint --fix

Add registry extensions schema and example
  docs/toolhive/reference/registry-schema-upstream.mdx
  scripts/update-toolhive-reference.sh
  static/api-specs/publisher-provided.schema.json
Due: npx prettier --write, npx eslint --fix

Fix conditional in script
  scripts/update-toolhive-reference.sh
Due: none

Add Hubspot script to site
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Remove markdownlint (#522)
  .claude/skills/test-docs/SKILL.md
  .devcontainer/devcontainer.json
  .github/prompts/doc-review.prompt.md
  .github/workflows/_static-checks.yaml
  .lintstagedrc
  .markdownlint-cli2.jsonc
  .markdownlint.json
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  AGENTS.md
  README.md
  STYLE-GUIDE.md
  docs/toolhive/.markdownlint.json
  docs/toolhive/_partials/.markdownlint.json
  docs/toolhive/reference/cli/.markdownlint.json
  eslint.config.mjs
  package-lock.json
  package.json
  renovate.json
  src/components/ProductCard/README.md
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Fix composite tool examples and note the format
  docs/toolhive/guides-vmcp/composite-tools.mdx
Due: npx prettier --write, npx eslint --fix

Fix composite tool examples and note the format (#527)
  docs/toolhive/guides-vmcp/composite-tools.mdx
Due: npx prettier --write, npx eslint --fix

Add Hubspot script to site (#526)
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Add registry extensions schema and example (#525)
  docs/toolhive/reference/registry-schema-upstream.mdx
  scripts/update-toolhive-reference.sh
  static/api-specs/publisher-provided.schema.json
Due: npx prettier --write, npx eslint --fix

Add VS Code Server to client compatibility (#524)
  docs/toolhive/reference/client-compatibility.mdx
Due: npx prettier --write, npx eslint --fix

Add Codex and Mistral Vibe
  docs/toolhive/reference/client-compatibility.mdx
Due: npx prettier --write, npx eslint --fix

Add Codex and Mistral Vibe (#528)
  docs/toolhive/reference/client-compatibility.mdx
Due: npx prettier --write, npx eslint --fix

Add card for the Claude Code Hooks to the index
  src/pages/index.tsx
  static/img/mcp-servers/claude-code-logo.svg
Due: npx prettier --write, npx eslint --fix

Document nested Kubernetes metadata in registry extensions
  docs/toolhive/reference/registry-schema-upstream.mdx
Due: npx prettier --write, npx eslint --fix

Document nested Kubernetes metadata in registry extensions (#530)
  docs/toolhive/reference/registry-schema-upstream.mdx
Due: npx prettier --write, npx eslint --fix

Add card for the Claude Code Hooks to the index (#531)
  src/pages/index.tsx
  static/img/mcp-servers/claude-code-logo.svg
Due: npx prettier --write, npx eslint --fix

Update navbar and enterprise support section
  docs/toolhive/support.mdx
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Update docs/toolhive/support.mdx
  docs/toolhive/support.mdx
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}) or (any of: *.md)) or (any of: *.{css,json,jsonc,yaml,yml})
  npx eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}
  npx markdownlint-cli2 --fix: any of: *.md
