Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

Document Okta directory reconciliation + groups from user variables (#1158)
  docs/platform/enterprise-directory/okta-directory-sync.mdx
  docs/platform/enterprise-directory/scim-provisioning.mdx
  docs/platform/enterprise-directory/users-and-groups.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Add visual regression testing for shared layout and theme
  .github/workflows/_visual-regression.yaml
  .github/workflows/on-pr.yaml
  .github/workflows/pr-screenshot-summary.yaml
  .github/workflows/update-visual-baselines.yaml
  .gitignore
  package-lock.json
  package.json
  playwright.config.ts
  scripts/pr-screenshot-summary.mjs
  scripts/update-pr-screenshot-summary.mjs
  scripts/update-visual-baselines.sh
  tests/visual/README.md
  tests/visual/fixtures.ts
  tests/visual/mobile.spec.ts
  tests/visual/pages.spec.ts
Due: npx prettier --write, npx eslint --fix

Fix dubious-ownership git error in container jobs
  .github/workflows/_visual-regression.yaml
  .github/workflows/update-visual-baselines.yaml
Due: npx prettier --write

Add automatic baseline auto-fix on check failure
  .github/workflows/_visual-regression.yaml
  .github/workflows/on-pr.yaml
  .github/workflows/pr-screenshot-summary.yaml
  .github/workflows/update-visual-baselines.yaml
  scripts/pr-screenshot-summary.mjs
  scripts/update-visual-baselines.sh
  tests/visual/README.md
Due: npx prettier --write, npx eslint --fix

Fix auto-fix job being silently skipped, gh missing --repo
  .github/workflows/_visual-regression.yaml
  .github/workflows/update-visual-baselines.yaml
Due: npx prettier --write

Document the auto-fix approval-gate limitation
  tests/visual/README.md
Due: npx prettier --write

Capture visual baselines at 2x for crisper PR thumbnails
  playwright.config.ts
  tests/visual/fixtures.ts
Due: npx prettier --write, npx eslint --fix

Stabilize visual regression snapshots
  .github/workflows/_visual-regression.yaml
  .github/workflows/update-visual-baselines.yaml
  scripts/install-thv.sh
  tests/visual/fixtures.ts
  tests/visual/mobile.spec.ts-snapshots/home-page-mobile-dark-mobile-linux.json
  tests/visual/mobile.spec.ts-snapshots/home-page-mobile-dark-mobile-linux.png
  tests/visual/mobile.spec.ts-snapshots/home-page-mobile-light-mobile-linux.png
  tests/visual/mobile.spec.ts-snapshots/mobile-navigation-open-dark-mobile-linux.json
  tests/visual/mobile.spec.ts-snapshots/mobile-navigation-open-dark-mobile-linux.png
  tests/visual/mobile.spec.ts-snapshots/mobile-navigation-open-light-mobile-linux.png
  tests/visual/pages.spec.ts
  tests/visual/pages.spec.ts-snapshots/home-page-dark-desktop-linux.png
  tests/visual/pages.spec.ts-snapshots/home-page-light-desktop-linux.png
  tests/visual/pages.spec.ts-snapshots/mcp-guide-context7-metadata-expanded-dark-desktop-linux.png
  tests/visual/pages.spec.ts-snapshots/mcp-guide-context7-metadata-expanded-light-desktop-linux.png
  tests/visual/pages.spec.ts-snapshots/nav-page-ai-gateway-dark-desktop-linux.json
  tests/visual/pages.spec.ts-snapshots/nav-page-ai-gateway-dark-desktop-linux.png
  tests/visual/pages.spec.ts-snapshots/nav-page-ai-gateway-light-desktop-linux.json
  tests/visual/pages.spec.ts-snapshots/nav-page-ai-gateway-light-desktop-linux.png
  tests/visual/pages.spec.ts-snapshots/nav-page-connector-gateway-dark-desktop-linux.json
  tests/visual/pages.spec.ts-snapshots/nav-page-connector-gateway-dark-desktop-linux.png
  tests/visual/pages.spec.ts-snapshots/nav-page-connector-gateway-light-desktop-linux.json
  tests/visual/pages.spec.ts-snapshots/nav-page-connector-gateway-light-desktop-linux.png
  tests/visual/pages.spec.ts-snapshots/nav-page-resources-dark-desktop-linux.json
  tests/visual/pages.spec.ts-snapshots/nav-page-resources-dark-desktop-linux.png
  tests/visual/pages.spec.ts-snapshots/nav-page-resources-light-desktop-linux.json
  tests/visual/pages.spec.ts-snapshots/nav-page-resources-light-desktop-linux.png
  tests/visual/pages.spec.ts-snapshots/nav-page-stacklok-platform-dark-desktop-linux.json
  tests/visual/pages.spec.ts-snapshots/nav-page-stacklok-platform-dark-desktop-linux.png
  tests/visual/pages.spec.ts-snapshots/nav-page-stacklok-platform-light-desktop-linux.json
  tests/visual/pages.spec.ts-snapshots/nav-page-stacklok-platform-light-desktop-linux.png
  tests/visual/pages.spec.ts-snapshots/nav-page-toolhive-dark-desktop-linux.json
  tests/visual/pages.spec.ts-snapshots/nav-page-toolhive-dark-desktop-linux.png
  tests/visual/pages.spec.ts-snapshots/nav-page-toolhive-light-desktop-linux.json
  tests/visual/pages.spec.ts-snapshots/nav-page-toolhive-light-desktop-linux.png
  tests/visual/pages.spec.ts-snapshots/theme-preview-page-dark-desktop-linux.png
  tests/visual/pages.spec.ts-snapshots/theme-preview-page-light-desktop-linux.png
Due: npx prettier --write, npx eslint --fix

Separate trusted workflow writes
  .github/workflows/pr-screenshot-summary.yaml
  .github/workflows/update-visual-baselines.yaml
  scripts/update-pr-screenshot-summary.mjs
  scripts/update-visual-baselines.sh
Due: npx prettier --write, npx eslint --fix

Remove AIPolicy documentation
  docs/ai-gateway/budgets-and-pricing.mdx
  docs/ai-gateway/index.mdx
  docs/platform/enterprise-platform/configure-ai-gateway.mdx
Due: npx prettier --write, npx eslint --fix

Document budget webhook setup
  docs/platform/enterprise-platform/configure-ai-gateway.mdx
Due: npx prettier --write, npx eslint --fix

Update theme-preview baseline for latest main merge
  tests/visual/pages.spec.ts-snapshots/theme-preview-page-dark-desktop-linux.png
  tests/visual/pages.spec.ts-snapshots/theme-preview-page-light-desktop-linux.png
Due: none

Remove AIPolicy from AI Gateway docs (#1171)
  docs/ai-gateway/budgets-and-pricing.mdx
  docs/ai-gateway/index.mdx
  docs/platform/enterprise-platform/configure-ai-gateway.mdx
Due: npx prettier --write, npx eslint --fix

Document AI Gateway telemetry
  docs/ai-gateway/forward-audit-logs.mdx
  docs/ai-gateway/index.mdx
  docs/ai-gateway/telemetry.mdx
  docs/platform/enterprise-directory/scim-provisioning.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Document AI Gateway telemetry (#1174)
  docs/ai-gateway/forward-audit-logs.mdx
  docs/ai-gateway/index.mdx
  docs/ai-gateway/telemetry.mdx
  docs/platform/enterprise-directory/scim-provisioning.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Update docgen workflows to Opus 5.5
  .github/workflows/autogen-docs-notify.yml
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Bump claude-code-action to v1.0.231
  .github/workflows/autogen-docs-notify.yml
  .github/workflows/claude.yml
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Bump claude-code-action to v1.0.237
  .github/workflows/autogen-docs-notify.yml
  .github/workflows/claude.yml
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Use Opus 5.5 for docgen Claude Code workflows (#1182)
  .github/workflows/autogen-docs-notify.yml
  .github/workflows/claude.yml
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Exclude visual snapshot metadata
  .prettierignore
Due: none

Exclude visual snapshot metadata (#1187)
  .prettierignore
Due: none

Fix Connector Gateway config so the install renders
  docs/platform/enterprise-platform/configure-connector-gateway.mdx
  docs/platform/enterprise-platform/deployment.mdx
Due: npx prettier --write, npx eslint --fix

Clarify Connector Gateway upstreams and user claim
  docs/platform/enterprise-platform/configure-connector-gateway.mdx
Due: npx prettier --write, npx eslint --fix

Fold group model note into connector access text
  docs/platform/enterprise-platform/configure-connector-gateway.mdx
Due: npx prettier --write, npx eslint --fix

Describe Connector Gateway outcomes, not internals
  docs/platform/enterprise-platform/configure-connector-gateway.mdx
Due: npx prettier --write, npx eslint --fix

Summarize visual regression failures
  .github/scripts/test_update_visual_failure_comment.py
  .github/scripts/update_visual_failure_comment.py
  .github/workflows/pr-screenshot-summary.yaml
  tests/visual/README.md
Due: npx prettier --write

Harden visual failure artifact handling
  .github/scripts/test_update_visual_failure_comment.py
  .github/scripts/update_visual_failure_comment.py
  .github/workflows/pr-screenshot-summary.yaml
Due: npx prettier --write

Remove duplicate visual baselines
  tests/visual/pages.spec.ts-snapshots/nav-page-ai-gateway-dark-desktop-linux.json
  tests/visual/pages.spec.ts-snapshots/nav-page-ai-gateway-dark-desktop-linux.png
  tests/visual/pages.spec.ts-snapshots/nav-page-ai-gateway-light-desktop-linux.json
  tests/visual/pages.spec.ts-snapshots/nav-page-ai-gateway-light-desktop-linux.png
Due: npx prettier --write

Summarize visual regression failures on pull requests (#1188)
  .github/scripts/test_update_visual_failure_comment.py
  .github/scripts/update_visual_failure_comment.py
  .github/workflows/pr-screenshot-summary.yaml
  tests/visual/README.md
Due: npx prettier --write

Document selected-fetch URL preflight
  docs/toolhive/guides-cli/webhooks.mdx
Due: npx prettier --write, npx eslint --fix

Clarify ToolHive and Enterprise boundaries
  docs/platform/index.mdx
Due: npx prettier --write, npx eslint --fix

Remove discontinued Enterprise Connectors SKU
  docs/platform/index.mdx
Due: npx prettier --write, npx eslint --fix

Explain runtime and governance boundary
  docs/platform/index.mdx
Due: npx prettier --write, npx eslint --fix

Lead with AI governance platform positioning
  docs/platform/index.mdx
Due: npx prettier --write, npx eslint --fix

Emphasize AI Gateway in platform introduction
  docs/platform/index.mdx
Due: npx prettier --write, npx eslint --fix

Fix SWC cache in visual test containers
  .github/workflows/_visual-regression.yaml
  .github/workflows/update-visual-baselines.yaml
Due: npx prettier --write

Rewrite the Connector Gateway configuration guide (#1180)
  docs/platform/enterprise-platform/configure-connector-gateway.mdx
  docs/platform/enterprise-platform/deployment.mdx
  tests/visual/pages.spec.ts-snapshots/nav-page-ai-gateway-dark-desktop-linux.json
  tests/visual/pages.spec.ts-snapshots/nav-page-ai-gateway-dark-desktop-linux.png
  tests/visual/pages.spec.ts-snapshots/nav-page-ai-gateway-light-desktop-linux.json
  tests/visual/pages.spec.ts-snapshots/nav-page-ai-gateway-light-desktop-linux.png
Due: npx prettier --write, npx eslint --fix

Update MCP guides for upstream changes
  docs/toolhive/guides-mcp/context7.mdx
  docs/toolhive/guides-mcp/grafana.mdx
  docs/toolhive/guides-mcp/playwright.mdx
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}) or (any of: *.md)) or (any of: *.{css,json,jsonc,yaml,yml})
  npx eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}
