Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs,mdx}": ["npx prettier --write", "npx eslint --fix"],
  "*.md": ["npx prettier --write", "npx markdownlint-cli2 --fix"],
  "*.{css,json,jsonc,yaml,yml}": ["npx prettier --write"]
}

Run thv version to verify installation
  scripts/install-thv.sh
Due: none

Fail production builds if MCPMetadata fetch fails
  docusaurus.config.ts
  plugins/mcp-metadata-plugin/src/index.ts
  plugins/mcp-metadata-plugin/src/types.ts
Due: npx prettier --write, npx eslint --fix

docs(k8s): org-scoped GitHub example for MCPToolConfig\n- Rename tools per org (acme/foocorp)\n- Update filters to use overridden names\n- Add concise notes on empty filter and override filtering
  docs/toolhive/guides-k8s/tool-config.mdx
Due: npx prettier --write, npx eslint --fix

Add docs for the group catalog
  docs/toolhive/tutorials/custom-registry.mdx
Due: npx prettier --write, npx eslint --fix

Fix the linter failing
  docs/toolhive/tutorials/custom-registry.mdx
Due: npx prettier --write, npx eslint --fix

Update docs/toolhive/tutorials/custom-registry.mdx
  docs/toolhive/tutorials/custom-registry.mdx
Due: npx prettier --write, npx eslint --fix

Reorganise groups content and update the docs for running MCP servers
  docs/toolhive/guides-cli/registry.md
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/tutorials/custom-registry.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Update the example servers in the group and address review feedback
  docs/toolhive/guides-cli/registry.md
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/tutorials/custom-registry.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Revert temporary fix
  scripts/install-thv.sh
Due: none

Update the custom registry doc with info for the group catalog (#182)
  docs/toolhive/guides-cli/registry.md
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/tutorials/custom-registry.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Fail production builds on MCPMetadata fetch errors (#190)
  docusaurus.config.ts
  plugins/mcp-metadata-plugin/src/index.ts
  plugins/mcp-metadata-plugin/src/types.ts
  scripts/install-thv.sh
Due: npx prettier --write, npx eslint --fix

Update docs/toolhive/guides-k8s/tool-config.mdx
  docs/toolhive/guides-k8s/tool-config.mdx
Due: npx prettier --write, npx eslint --fix

Document MCPToolConfig and toolConfigRef for K8s operator (#185)
  docs/toolhive/guides-k8s/tool-config.mdx
  docs/toolhive/guides-mcp/k8s.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

revert markdown lint
  .markdownlint.json
Due: npx prettier --write

refactor: select mcp server section
  .markdownlint.json
  docs/toolhive/guides-ui/run-mcp-servers.md
  src/css/custom.css
  static/img/mcp-servers/local-mcp.svg
  static/img/mcp-servers/remote-mcp.svg
Due: npx prettier --write, npx markdownlint-cli2 --fix

wrap examples into details
  docs/toolhive/guides-ui/run-mcp-servers.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

add section with auth examples
  docs/toolhive/guides-ui/run-mcp-servers.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

replace tolhive registry webp
  static/img/toolhive/toolhive-ui-registry-dark.webp
  static/img/toolhive/toolhive-ui-registry-light.webp
Due: none

fix: replace required fields
  docs/toolhive/guides-ui/run-mcp-servers.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

replace md to mdx
  docs/toolhive/guides-ui/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

replace md occurrences
  docs/toolhive/faq.md
  docs/toolhive/guides-mcp/filesystem.mdx
  docs/toolhive/guides-ui/client-configuration.mdx
  docs/toolhive/guides-ui/install.mdx
  docs/toolhive/guides-ui/network-isolation.mdx
  docs/toolhive/guides-ui/registry.mdx
  docs/toolhive/guides-ui/secrets-management.md
  docs/toolhive/tutorials/quickstart-ui.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

address comment
  docs/toolhive/guides-ui/run-mcp-servers.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

ui: add remote mcp section
  docs/toolhive/guides-ui/run-mcp-servers.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

fix: formatting tags
  docs/toolhive/guides-ui/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

skip prettier
  docs/toolhive/guides-ui/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Add comprehensive usage guide for meta-mcp MCP server
  docs/toolhive/guides-mcp/meta-mcp.mdx
Due: npx prettier --write, npx eslint --fix

Add comprehensive usage guide for meta-mcp MCP server (#192)
  docs/toolhive/guides-mcp/meta-mcp.mdx
Due: npx prettier --write, npx eslint --fix

Add more context to the meta-mcp guide
  docs/toolhive/guides-mcp/meta-mcp.mdx
Due: npx prettier --write, npx eslint --fix

Move workflow to top
  docs/toolhive/guides-mcp/meta-mcp.mdx
Due: npx prettier --write, npx eslint --fix

Add experimental note
  docs/toolhive/guides-mcp/meta-mcp.mdx
Due: npx prettier --write, npx eslint --fix
