Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs,mdx}": ["npx prettier --write", "npx eslint --fix"],
  "*.md": ["npx prettier --write", "npx markdownlint-cli2 --fix"],
  "*.{css,json,jsonc,yaml,yml}": ["npx prettier --write"]
}

rewording validation phrase
  docs/toolhive/guides-ui/playground.mdx
Due: npx prettier --write, npx eslint --fix

learn more
  docs/toolhive/guides-ui/playground.mdx
Due: npx prettier --write, npx eslint --fix

Browse instead of Check out
  docs/toolhive/guides-ui/playground.mdx
Due: npx prettier --write, npx eslint --fix

Recommended instead of Best
  docs/toolhive/guides-ui/playground.mdx
Due: npx prettier --write, npx eslint --fix

rewording the description
  docs/toolhive/guides-ui/playground.mdx
Due: npx prettier --write, npx eslint --fix

rewording the goal
  docs/toolhive/guides-ui/playground.mdx
Due: npx prettier --write, npx eslint --fix

respond
  docs/toolhive/guides-ui/playground.mdx
Due: npx prettier --write, npx eslint --fix

rewording thv mcp description
  docs/toolhive/guides-ui/playground.mdx
Due: npx prettier --write, npx eslint --fix

fix: format
  docs/toolhive/guides-ui/playground.mdx
Due: npx prettier --write, npx eslint --fix

feat: add playgroun on next step for run server and other adjustments
  docs/toolhive/guides-ui/playground.mdx
  docs/toolhive/guides-ui/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

refactor: change title for audit logs
  docs/toolhive/guides-ui/playground.mdx
Due: npx prettier --write, npx eslint --fix

Add playground guide (#214)
  docs/toolhive/guides-ui/playground.mdx
  docs/toolhive/guides-ui/run-mcp-servers.mdx
  sidebars.ts
  static/img/toolhive/toolhive-ui-playground-chat-response-dark.webp
  static/img/toolhive/toolhive-ui-playground-chat-response-light.webp
  static/img/toolhive/toolhive-ui-playground-thv-mcp-dark.webp
  static/img/toolhive/toolhive-ui-playground-thv-mcp-light.webp
Due: npx prettier --write, npx eslint --fix

Add feedback widget
  docusaurus.config.ts
  package-lock.json
  package.json
  src/css/custom.css
  src/theme/DocItem/Footer/index.tsx
Due: npx prettier --write, npx eslint --fix

Add feedback widget (#217)
  docusaurus.config.ts
  package-lock.json
  package.json
  src/css/custom.css
  src/theme/DocItem/Footer/index.tsx
Due: npx prettier --write, npx eslint --fix

Don't expand the tutorials section by default
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Add OpenTelemetry tutorial
  docs/toolhive/tutorials/opentelemetry.mdx
  sidebars.ts
  static/img/toolhive/otel-grafana-dark.webp
  static/img/toolhive/otel-grafana-light.webp
Due: npx prettier --write, npx eslint --fix

Fix typo and update diagrams
  docs/toolhive/tutorials/opentelemetry.mdx
Due: npx prettier --write, npx eslint --fix

Add cross-references from other guides
  docs/toolhive/concepts/observability.md
  docs/toolhive/guides-cli/telemetry-and-metrics.md
  docs/toolhive/guides-k8s/telemetry-and-metrics.md
  docs/toolhive/tutorials/opentelemetry.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

add guide for proxy stdio to integrate with claude desktop
  docs/toolhive/_partials/_client-compat-table.md
  docs/toolhive/guides-cli/proxy-stdio.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Add transport parameter to meta-mcp run command
  docs/toolhive/guides-mcp/meta-mcp.mdx
Due: npx prettier --write, npx eslint --fix

fixes from review
  docs/toolhive/_partials/_client-compat-table.md
  docs/toolhive/guides-cli/proxy-stdio.mdx
  docs/toolhive/reference/client-compatibility.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Fix typo
  docs/toolhive/tutorials/opentelemetry.mdx
Due: npx prettier --write, npx eslint --fix

Add OpenTelemetry tutorial (#218)
  docs/toolhive/concepts/observability.md
  docs/toolhive/guides-cli/telemetry-and-metrics.md
  docs/toolhive/guides-k8s/telemetry-and-metrics.md
  docs/toolhive/tutorials/opentelemetry.mdx
  sidebars.ts
  static/img/toolhive/otel-grafana-dark.webp
  static/img/toolhive/otel-grafana-light.webp
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

fixes from review
  docs/toolhive/_partials/_client-compat-table.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add guide for proxy stdio to integrate with claude desktop (#219)
  docs/toolhive/_partials/_client-compat-table.md
  docs/toolhive/reference/client-compatibility.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Add docs for inbound network isolation (#213)
  docs/toolhive/guides-cli/custom-permissions.mdx
  docs/toolhive/guides-cli/network-isolation.mdx
Due: npx prettier --write, npx eslint --fix

Apply review suggestions
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/reference/cli/thv_export.md
  docs/toolhive/reference/cli/thv_run.md
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update docs for run --from-config (#163)
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

document groups in the UI
  docs/toolhive/guides-ui/client-configuration.mdx
  docs/toolhive/guides-ui/group-management.mdx
  docs/toolhive/guides-ui/run-mcp-servers.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Remove permissionProfile from K8s examples
  docs/toolhive/guides-cli/build-containers.mdx
  docs/toolhive/guides-k8s/run-mcp-k8s.mdx
  docs/toolhive/guides-mcp/context7.mdx
  docs/toolhive/guides-mcp/fetch.mdx
  docs/toolhive/guides-mcp/filesystem.mdx
  docs/toolhive/guides-mcp/github.mdx
  docs/toolhive/guides-mcp/k8s.mdx
  docs/toolhive/guides-mcp/osv.mdx
  docs/toolhive/guides-mcp/playwright.mdx
  docs/toolhive/tutorials/vault-integration.mdx
Due: npx prettier --write, npx eslint --fix

Remove permissionProfile from K8s examples (#230)
  docs/toolhive/guides-cli/build-containers.mdx
  docs/toolhive/guides-k8s/run-mcp-k8s.mdx
  docs/toolhive/guides-mcp/context7.mdx
  docs/toolhive/guides-mcp/fetch.mdx
  docs/toolhive/guides-mcp/filesystem.mdx
  docs/toolhive/guides-mcp/github.mdx
  docs/toolhive/guides-mcp/k8s.mdx
  docs/toolhive/guides-mcp/osv.mdx
  docs/toolhive/guides-mcp/playwright.mdx
  docs/toolhive/tutorials/vault-integration.mdx
Due: npx prettier --write, npx eslint --fix

Add guide for notion-remote MCP server
  docs/toolhive/guides-mcp/notion-remote.mdx
Due: npx prettier --write, npx eslint --fix

Refresh Context7 guide
  docs/toolhive/guides-mcp/context7.mdx
Due: npx prettier --write, npx eslint --fix

Reformat the long playwright CLI lines
  docs/toolhive/guides-mcp/playwright.mdx
Due: npx prettier --write, npx eslint --fix

Bump pinned versions in MCP examples
  docs/toolhive/guides-mcp/fetch.mdx
  docs/toolhive/guides-mcp/github.mdx
  docs/toolhive/guides-mcp/k8s.mdx
  docs/toolhive/guides-mcp/playwright.mdx
Due: npx prettier --write, npx eslint --fix

Add aria-label tags to social links
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Remove the partial for the client table
  docs/toolhive/_partials/_client-compat-table.md
  docs/toolhive/reference/client-compatibility.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Rename all MD files to MDX for consistency
  docs/toolhive/_partials/_remote-mcp-auth-examples.mdx
  docs/toolhive/concepts/mcp-primer.mdx
  docs/toolhive/concepts/observability.mdx
  docs/toolhive/concepts/registry-criteria.mdx
  docs/toolhive/faq.mdx
  docs/toolhive/guides-cli/api-server.mdx
  docs/toolhive/guides-cli/custom-permissions.mdx
  docs/toolhive/guides-cli/filesystem-access.mdx
  docs/toolhive/guides-cli/group-management.mdx
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/guides-cli/manage-mcp-servers.mdx
  docs/toolhive/guides-cli/network-isolation.mdx
  docs/toolhive/guides-cli/registry.mdx
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-cli/telemetry-and-metrics.mdx
  docs/toolhive/guides-cli/thvignore.mdx
  docs/toolhive/guides-k8s/deploy-operator-helm.mdx
  docs/toolhive/guides-k8s/intro.mdx
  docs/toolhive/guides-k8s/logging-infrastructure.mdx
  docs/toolhive/guides-k8s/run-mcp-k8s.mdx
  docs/toolhive/guides-k8s/telemetry-and-metrics.mdx
  docs/toolhive/guides-mcp/fetch.mdx
  docs/toolhive/guides-mcp/filesystem.mdx
  docs/toolhive/guides-mcp/meta-mcp.mdx
  docs/toolhive/guides-ui/install.mdx
  docs/toolhive/guides-ui/playground.mdx
  docs/toolhive/guides-ui/registry.mdx
  docs/toolhive/guides-ui/run-mcp-servers.mdx
  docs/toolhive/guides-ui/secrets-management.mdx
  docs/toolhive/index.mdx
  docs/toolhive/tutorials/custom-registry.mdx
  docs/toolhive/tutorials/opentelemetry.mdx
  docs/toolhive/tutorials/quickstart-k8s.mdx
  docs/toolhive/tutorials/quickstart-ui.mdx
Due: npx prettier --write, npx eslint --fix

Fixes and add cross-ref to container build guide
  docs/toolhive/guides-k8s/index.mdx
  docs/toolhive/guides-k8s/intro.mdx
  docs/toolhive/guides-k8s/run-mcp-k8s.mdx
Due: npx prettier --write, npx eslint --fix

Update titles and structure
  docs/toolhive/guides-cli/advanced-cicd.mdx
  docs/toolhive/guides-cli/build-containers.mdx
  docs/toolhive/guides-cli/group-management.mdx
  docs/toolhive/guides-cli/manage-mcp-servers.mdx
  docs/toolhive/guides-cli/run-mcp-servers.mdx
  docs/toolhive/guides-cli/thvignore.mdx
  docs/toolhive/guides-k8s/customize-tools.mdx
  docs/toolhive/guides-k8s/deploy-operator-helm.mdx
  docs/toolhive/guides-k8s/intro.mdx
  docs/toolhive/guides-k8s/logging.mdx
  docs/toolhive/guides-k8s/telemetry-and-metrics.mdx
  docs/toolhive/guides-mcp/k8s.mdx
  docs/toolhive/guides-ui/playground.mdx
  sidebars.ts
  vercel.json
Due: npx prettier --write, npx eslint --fix
