Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Fixup link text to remove "with/using Helm" (#450)
  docs/toolhive/guides-k8s/auth-k8s.mdx
  docs/toolhive/guides-k8s/deploy-registry.mdx
  docs/toolhive/guides-k8s/intro.mdx
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-k8s/run-mcp-k8s.mdx
  docs/toolhive/guides-k8s/telemetry-and-metrics.mdx
  docs/toolhive/guides-k8s/token-exchange-k8s.mdx
Due: npx prettier --write, npx eslint --fix

fix: update vMCP + MCPRemoteProxy docs for accurate auth flow
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
Due: npx prettier --write, npx eslint --fix

docs: add limitation notes for vMCP + MCPRemoteProxy auth
  docs/toolhive/concepts/vmcp.mdx
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
  docs/toolhive/guides-vmcp/intro.mdx
Due: npx prettier --write, npx eslint --fix

Remove PushFeedback from site
  docusaurus.config.ts
  package-lock.json
  package.json
  src/css/custom.css
  src/theme/DocItem/Footer/index.tsx
Due: npx prettier --write, npx eslint --fix

fix: use correct Docusaurus admonition syntax with brackets
  docs/toolhive/concepts/vmcp.mdx
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
  docs/toolhive/guides-vmcp/intro.mdx
Due: npx prettier --write, npx eslint --fix

style: fix prettier formatting
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
Due: npx prettier --write, npx eslint --fix

document vMCP remote server support (#406)
  docs/toolhive/concepts/vmcp.mdx
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
  docs/toolhive/guides-vmcp/configuration.mdx
  docs/toolhive/guides-vmcp/intro.mdx
Due: npx prettier --write, npx eslint --fix

Publish ToolHive updates for 2026-01-19
  blog/toolhive-updates/2026-01-19-updates.mdx
Due: npx prettier --write, npx eslint --fix

Publish ToolHive updates for 2026-01-19 (#458)
  blog/toolhive-updates/2026-01-19-updates.mdx
Due: npx prettier --write, npx eslint --fix

Remove PushFeedback from site (#459)
  docusaurus.config.ts
  package-lock.json
  package.json
  src/css/custom.css
  src/theme/DocItem/Footer/index.tsx
Due: npx prettier --write, npx eslint --fix

Re-add favicon.ico back to original path
  static/img/favicon.ico
Due: none

Re-add favicon.ico back to original path (#460)
  static/img/favicon.ico
Due: none

Add upstream registry schema
  docs/toolhive/guides-cli/registry.mdx
  docs/toolhive/reference/registry-schema-toolhive.mdx
  docs/toolhive/reference/registry-schema-upstream.mdx
  docs/toolhive/tutorials/custom-registry.mdx
  docusaurus.config.ts
  package-lock.json
  package.json
  scripts/bundle-upstream-schema.mjs
  scripts/update-toolhive-reference.sh
  static/api-specs/upstream-registry-bundled.schema.json
  static/api-specs/upstream-registry.schema.json
Due: npx prettier --write, npx eslint --fix

Split the server object schema out for readability
  docs/toolhive/reference/registry-schema-upstream.mdx
  scripts/bundle-upstream-schema.mjs
  static/api-specs/mcp-server.schema.json
  static/api-specs/upstream-registry-bundled.schema.json
  static/api-specs/upstream-registry.schema.json
Due: npx prettier --write, npx eslint --fix

Add setup step to update workflow
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

Override JSON schema viewer styles for neutral appearance
  src/css/custom.css
Due: npx prettier --write

Add links to the registry JSON schemas
  docs/toolhive/guides-registry/configuration.mdx
Due: npx prettier --write, npx eslint --fix

Add redirect
  vercel.json
Due: npx prettier --write

Run npm audit fix
  package-lock.json
Due: npx prettier --write

Address Copilot review
  scripts/bundle-upstream-schema.mjs
Due: npx prettier --write, npx eslint --fix

Add upstream registry schema documentation (#465)
  .github/workflows/update-toolhive-reference.yml
  docs/toolhive/guides-cli/registry.mdx
  docs/toolhive/guides-registry/configuration.mdx
  docs/toolhive/reference/registry-schema-toolhive.mdx
  docs/toolhive/reference/registry-schema-upstream.mdx
  docs/toolhive/tutorials/custom-registry.mdx
  docusaurus.config.ts
  package-lock.json
  package.json
  scripts/bundle-upstream-schema.mjs
  scripts/update-toolhive-reference.sh
  src/css/custom.css
  static/api-specs/mcp-server.schema.json
  static/api-specs/upstream-registry.schema.json
  vercel.json
Due: npx prettier --write, npx eslint --fix

Set npm version for consistency
  .devcontainer/devcontainer.json
  package-lock.json
  package.json
Due: npx prettier --write

Add Claude local settings file to gitignore
  .gitignore
Due: none

Set minimum npm version for consistency (#470)
  .devcontainer/devcontainer.json
  .gitignore
  package-lock.json
  package.json
Due: npx prettier --write

Add host param to Playwright K8s examples
  docs/toolhive/guides-mcp/playwright.mdx
Due: npx prettier --write, npx eslint --fix

Add host param to Playwright K8s examples (#471)
  docs/toolhive/guides-mcp/playwright.mdx
Due: npx prettier --write, npx eslint --fix

Fix highlighted lines
  docs/toolhive/guides-mcp/playwright.mdx
Due: npx prettier --write, npx eslint --fix

Fix highlighted lines (#472)
  docs/toolhive/guides-mcp/playwright.mdx
Due: npx prettier --write, npx eslint --fix

Document header injection for remote MCP servers
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Replace hypothetical example with real arxiv-mcp-server workflow
  docs/toolhive/guides-vmcp/composite-tools.mdx
Due: npx prettier --write, npx eslint --fix

Update docs/toolhive/guides-vmcp/composite-tools.mdx
  docs/toolhive/guides-vmcp/composite-tools.mdx
Due: npx prettier --write, npx eslint --fix

Fix formatting
  docs/toolhive/guides-vmcp/composite-tools.mdx
Due: npx prettier --write, npx eslint --fix

Replace hypothetical example with real arxiv-mcp-server workflow (#474)
  docs/toolhive/guides-vmcp/composite-tools.mdx
Due: npx prettier --write, npx eslint --fix

Remove tip about thv proxy command
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Document header injection for remote MCP servers (#473)
  docs/toolhive/guides-cli/run-mcp-servers.mdx
Due: npx prettier --write, npx eslint --fix

Document header injection for MCPRemoteProxy
  docs/toolhive/guides-k8s/remote-mcp-proxy.mdx
Due: npx prettier --write, npx eslint --fix

Add llms.txt plugin
  docusaurus.config.ts
  package-lock.json
  package.json
Due: npx prettier --write, npx eslint --fix

Add JSON-LD schemas to index page
  src/pages/index.tsx
Due: npx prettier --write, npx eslint --fix

Add vMCP observability guide
  docs/toolhive/guides-vmcp/observability.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}) or (any of: *.md)) or (any of: *.{css,json,jsonc,yaml,yml})
  npx eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}
  npx markdownlint-cli2 --fix: any of: *.md
