Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs,mdx}": ["npx prettier --write", "npx eslint --fix"],
  "*.md": ["npx prettier --write"],
  "*.{css,json,jsonc,yaml,yml}": ["npx prettier --write"]
}

Unify toolhive reference and content docs into a single PR
  .github/upstream-projects.yaml
  .github/workflows/update-toolhive-reference.yml
  .github/workflows/upstream-release-docs.yml
  renovate.json
Due: npx prettier --write

Automate upstream release docs PRs via Renovate
  .github/upstream-projects.yaml
  .github/workflows/upstream-release-docs.yml
  .gitignore
  docusaurus.config.ts
  renovate.json
  scripts/upstream-release/apply-pin-files.mjs
  scripts/upstream-release/detect-change.mjs
Due: npx prettier --write, npx eslint --fix

Add manual bootstrap mode to upstream-release-docs workflow
  .github/workflows/upstream-release-docs.yml
  scripts/upstream-release/bump-yaml.mjs
Due: npx prettier --write, npx eslint --fix

Address Copilot review feedback on PR #748
  .github/workflows/upstream-release-docs.yml
  scripts/upstream-release/apply-pin-files.mjs
  scripts/upstream-release/bump-yaml.mjs
  scripts/upstream-release/detect-change.mjs
Due: npx prettier --write, npx eslint --fix

Chain reference workflow into content via workflow_call
  .github/workflows/update-toolhive-reference.yml
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Host Registry Server Swagger locally instead of via jsdelivr
  .github/upstream-projects.yaml
  .github/workflows/upstream-release-docs.yml
  docusaurus.config.ts
  scripts/upstream-release/sync-assets.mjs
  static/api-specs/toolhive-registry-api.yaml
Due: npx prettier --write, npx eslint --fix

Unify toolhive under the Renovate-driven content pipeline
  .github/upstream-projects.yaml
  .github/workflows/update-toolhive-reference.yml
  .github/workflows/upstream-release-docs.yml
  renovate.json
  scripts/update-toolhive-reference.sh
  scripts/upstream-release/sync-assets.mjs
Due: npx prettier --write, npx eslint --fix

Consume toolhive's new release assets, delete the shell script
  .github/upstream-projects.yaml
  .github/workflows/upstream-release-docs.yml
  scripts/update-toolhive-reference.sh
Due: npx prettier --write

Refine reference-asset language and attribute gaps to PR authors
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Derive bootstrap base from dispatching branch, not a new input
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Drop labels; gate via bot-author + paths filter
  .github/workflows/upstream-release-docs.yml
  renovate.json
Due: npx prettier --write

Inline node setup after PR-branch checkout
  .claude/scheduled_tasks.lock
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Don't track .claude/scheduled_tasks.lock
  .claude/scheduled_tasks.lock
  .gitignore
Due: none

Re-order llms.txt index
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Restore id-token: write for claude-code-action OIDC
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Re-order llms.txt index (#754)
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Automate upstream release docs PRs via Renovate (#748)
  .github/upstream-projects.yaml
  .github/workflows/update-toolhive-reference.yml
  .github/workflows/upstream-release-docs.yml
  .gitignore
  docusaurus.config.ts
  renovate.json
  scripts/update-toolhive-reference.sh
  scripts/upstream-release/apply-pin-files.mjs
  scripts/upstream-release/bump-yaml.mjs
  scripts/upstream-release/detect-change.mjs
  scripts/upstream-release/sync-assets.mjs
  static/api-specs/toolhive-registry-api.yaml
Due: npx prettier --write, npx eslint --fix

Address Dan's review feedback on #748
  renovate.json
Due: npx prettier --write

Filter reviewers to repo collaborators only
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Drop non-collaborator acknowledgment from PR body
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Address Dan's review feedback: shorter minimumReleaseAge + precise wording (#757)
  .github/workflows/upstream-release-docs.yml
  renovate.json
Due: npx prettier --write

Allow Renovate bot + enable real-time skill progress visibility
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Allow Renovate bot + enable real-time skill progress visibility (#760)
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Push refresh commit immediately, don't batch with skill push
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Fix retry-mode git context + push refresh commit immediately
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Fix retry-mode git context + push refresh commit immediately (#761)
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Gate track_progress on pull_request event
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Gate track_progress on pull_request event (#762)
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Rebase local commits before pushing to handle PR-branch drift
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Rebase local commits before pushing to handle PR-branch drift (#763)
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Gitignore claude-code-action's .claude-pr/ scratch dir
  .gitignore
Due: none

Switch skill to Opus and split generation from editorial review
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Harden upstream-release-docs workflow: gitignore, Opus, split passes (#764)
  .github/workflows/upstream-release-docs.yml
  .gitignore
Due: npx prettier --write

Give skill gh access, auto-fix formatting, tighten GAPS.md contract
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Give skill gh access, auto-fix formatting, tighten GAPS.md contract (#774)
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Cancel stale On PR runs so only current HEAD determines status
  .github/workflows/on-pr.yaml
Due: npx prettier --write

Cancel stale On PR runs so only current HEAD determines status (#775)
  .github/workflows/on-pr.yaml
Due: npx prettier --write

@-mention non-collaborator release contributors; widen toolhive docs paths
  .github/upstream-projects.yaml
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Assign reviewers per-user instead of pre-filtering by collaborator API
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write

Per-user reviewer attempts + @-mention fallback + widen toolhive docs paths (#776)
  .github/upstream-projects.yaml
  .github/workflows/upstream-release-docs.yml
Due: npx prettier --write
