Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs,cjs,mdx}": ["npx prettier --write", "npx eslint --fix"],
  "*.md": ["npx prettier --write", "npx markdownlint-cli2 --fix"],
  "*.{css,json,jsonc,yaml,yml}": ["npx prettier --write"]
}

Add dev container
  .devcontainer/devcontainer.json
Due: npx prettier --write

Add GitHub actions
  .github/actions/setup/action.yaml
  .github/workflows/_security-checks.yaml
  .github/workflows/_static-checks.yaml
  .github/workflows/on-pr.yaml
Due: npx prettier --write

Remove heading from index
  src/pages/index.tsx
Due: npx prettier --write, npx eslint --fix

Add GHA workflow to refresh ToolHive release docs
  .github/workflows/update-toolhive-reference.yml
  scripts/update-toolhive-reference.sh
Due: npx prettier --write

Fix workflow
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

Fix formatting that prettier broke
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

Add permissions
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

Add release update workflow (#2)
  .github/workflows/update-toolhive-reference.yml
  scripts/update-toolhive-reference.sh
Due: npx prettier --write

Add the winget install option
  docs/toolhive/guides-cli/install.mdx
Due: npx prettier --write, npx eslint --fix

Fix reference update workflow
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

Fix reference update workflow (#6)
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

Update ToolHive reference docs for v0.0.45
  .github/workflows/update-toolhive-reference.yml
  docs/toolhive/reference/cli/thv_rm.md
  docs/toolhive/reference/cli/thv_run.md
  docs/toolhive/reference/cli/thv_secret_provider.md
  static/api-specs/toolhive-api.yaml
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix workflow again, remove redundant build step
  .github/workflows/_static-checks.yaml
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

Upgrade action to v7 and enable signed commits
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

Fix workflow again, remove redundant build step (#8)
  .github/workflows/_static-checks.yaml
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

Update docs/toolhive/guides-cli/install.mdx
  docs/toolhive/guides-cli/install.mdx
Due: npx prettier --write, npx eslint --fix

Add the winget install option (#5)
  docs/toolhive/guides-cli/install.mdx
Due: npx prettier --write, npx eslint --fix

Update installation instructions
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/index.mdx
  docs/toolhive/tutorials/quickstart.mdx
Due: npx prettier --write, npx eslint --fix

Update installation instructions (#10)
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/index.mdx
  docs/toolhive/tutorials/quickstart.mdx
Due: npx prettier --write, npx eslint --fix

Add repository_dispatch trigger to update workflow
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

Add repository_dispatch trigger to update workflow (#11)
  .github/workflows/update-toolhive-reference.yml
Due: npx prettier --write

Override webpack-dev-server version
  package-lock.json
  package.json
Due: npx prettier --write

Override webpack-dev-server version (#12)
  package-lock.json
  package.json
Due: npx prettier --write

Add note about stopping before upgrade on Windows
  docs/toolhive/guides-cli/install.mdx
Due: npx prettier --write, npx eslint --fix

Fix typo
  docs/toolhive/guides-cli/install.mdx
Due: npx prettier --write, npx eslint --fix

Another typo
  docs/toolhive/guides-cli/install.mdx
Due: npx prettier --write, npx eslint --fix

Remove my username
  docs/toolhive/guides-cli/install.mdx
Due: npx prettier --write, npx eslint --fix

Add note about stopping before upgrade on Windows (#15)
  docs/toolhive/guides-cli/install.mdx
Due: npx prettier --write, npx eslint --fix

Fix the `rm` command example
  docs/toolhive/guides-cli/manage-mcp-servers.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix the `rm` command example (#17)
  docs/toolhive/guides-cli/manage-mcp-servers.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Remove `rm -f` section
  docs/toolhive/guides-cli/manage-mcp-servers.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Remove `rm -f` section (#18)
  docs/toolhive/guides-cli/manage-mcp-servers.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update network permissions implementation docs
  docs/toolhive/guides-cli/custom-permissions.md
  docs/toolhive/guides-k8s/run-mcp-k8s.md
  docs/toolhive/index.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update network egress description
  docs/toolhive/guides-cli/custom-permissions.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update secrets management docs
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/guides-cli/secrets-management.mdx
Due: npx prettier --write, npx eslint --fix

Add references to new `stop --all` flag
  docs/toolhive/guides-cli/install.mdx
  docs/toolhive/guides-cli/manage-mcp-servers.md
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Update network permissions implementation docs
  docs/toolhive/guides-cli/custom-permissions.md
  docs/toolhive/guides-cli/custom-permissions.mdx
  docs/toolhive/guides-cli/secrets-management.mdx
  docs/toolhive/guides-k8s/run-mcp-k8s.md
  docs/toolhive/index.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix
