Repository stacklok/docs-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Add Dec 8 updates post
  blog/toolhive-updates/2025-12-08-updates.mdx
Due: npx prettier --write, npx eslint --fix

Combine redundant sentences
  docs/toolhive/concepts/tool-optimization.mdx
Due: npx prettier --write, npx eslint --fix

Update PR template
  .github/pull_request_template.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Add issue templates
  .github/ISSUE_TEMPLATE/01-doc-error.yml
  .github/ISSUE_TEMPLATE/02-doc-gap.yml
  .github/ISSUE_TEMPLATE/03-doc-enhancement.yml
  .github/ISSUE_TEMPLATE/config.yml
  README.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix checkboxes
  .github/pull_request_template.md
  .markdownlint-cli2.jsonc
Due: npx prettier --write, npx markdownlint-cli2 --fix

Update repository templates (#374)
  .github/ISSUE_TEMPLATE/01-doc-error.yml
  .github/ISSUE_TEMPLATE/02-doc-gap.yml
  .github/ISSUE_TEMPLATE/03-doc-enhancement.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/pull_request_template.md
  .markdownlint-cli2.jsonc
  README.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Tighten tool optimization guide based on PR feedback
  docs/toolhive/concepts/tool-optimization.mdx
Due: npx prettier --write, npx eslint --fix

Add concept guide for optimizing LLM context (#373)
  docs/toolhive/concepts/groups.mdx
  docs/toolhive/concepts/tool-optimization.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Group GitHub Actions updates in Renovate
  renovate.json
Due: npx prettier --write

Group GitHub Actions updates in Renovate (#375)
  renovate.json
Due: npx prettier --write

Replace duplicate "Why use groups?" sections with link to concepts page
  docs/toolhive/guides-cli/group-management.mdx
  docs/toolhive/guides-ui/group-management.mdx
Due: npx prettier --write, npx eslint --fix

Publish ToolHive updates for 2025-12-08 (#378)
  .github/copilot-instructions.md
  AGENTS.md
  blog/toolhive-updates/2025-12-08-updates.mdx
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Replace duplicate "Why use groups?" sections with link to concepts page (#379)
  docs/toolhive/guides-cli/group-management.mdx
  docs/toolhive/guides-ui/group-management.mdx
Due: npx prettier --write, npx eslint --fix

Bump devcontainer to Debian trixie
  .devcontainer/devcontainer.json
Due: npx prettier --write

Fix minimumReleaseAge handling
  renovate.json
Due: npx prettier --write

Fix some random formatting
  docs/toolhive/concepts/mcp-primer.mdx
  docs/toolhive/guides-cli/secrets-management.mdx
Due: npx prettier --write, npx eslint --fix

Normalize node version handling
  .github/workflows/_security-checks.yaml
  package-lock.json
  package.json
  renovate.json
Due: npx prettier --write

Improve LLM instructions
  .github/copilot-instructions.md
  AGENTS.md
Due: npx prettier --write, npx markdownlint-cli2 --fix

Fix PR template list again
  .github/pull_request_template.md
  .markdownlint-cli2.jsonc
Due: npx prettier --write, npx markdownlint-cli2 --fix

Repo quality of life maintenance and fixes (#381)
  .devcontainer/devcontainer.json
  .github/copilot-instructions.md
  .github/pull_request_template.md
  .github/workflows/_security-checks.yaml
  .markdownlint-cli2.jsonc
  AGENTS.md
  docs/toolhive/concepts/mcp-primer.mdx
  docs/toolhive/guides-cli/secrets-management.mdx
  package-lock.json
  package.json
  renovate.json
Due: npx prettier --write, npx eslint --fix, npx markdownlint-cli2 --fix

Remove webpack-dev-server override
  package.json
Due: npx prettier --write

Remove webpack-dev-server override (#382)
  package.json
Due: npx prettier --write

Add registry API reference
  docs/toolhive/reference/registry-api.mdx
  docusaurus.config.ts
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Update registry API URL and add sorting options
  docusaurus.config.ts
Due: npx prettier --write, npx eslint --fix

Add links into registry reference
  docs/toolhive/guides-registry/authentication.mdx
  docs/toolhive/guides-registry/configuration.mdx
  docs/toolhive/guides-registry/intro.mdx
Due: npx prettier --write, npx eslint --fix

Add registry API reference (#372)
  docs/toolhive/guides-registry/authentication.mdx
  docs/toolhive/guides-registry/configuration.mdx
  docs/toolhive/guides-registry/intro.mdx
  docs/toolhive/reference/registry-api.mdx
  docusaurus.config.ts
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Replace Redocusaurus with docusaurus-openapi-docs
  .prettierignore
  docs/toolhive/guides-cli/api-server.mdx
  docs/toolhive/reference/api.mdx
  docs/toolhive/reference/api/_category_.yaml
  docs/toolhive/reference/api/add-a-registry.api.mdx
  docs/toolhive/reference/api/create-a-new-workload.api.mdx
  docs/toolhive/reference/api/delete-a-workload.api.mdx
  docs/toolhive/reference/api/get-a-registry.api.mdx
  docs/toolhive/reference/api/get-a-server-from-a-registry.api.mdx
  docs/toolhive/reference/api/get-open-api-specification.api.mdx
  docs/toolhive/reference/api/get-server-version.api.mdx
  docs/toolhive/reference/api/get-workload-details.api.mdx
  docs/toolhive/reference/api/health-check.api.mdx
  docs/toolhive/reference/api/list-all-clients-status.api.mdx
  docs/toolhive/reference/api/list-all-clients.api.mdx
  docs/toolhive/reference/api/list-all-workloads.api.mdx
  docs/toolhive/reference/api/list-registries.api.mdx
  docs/toolhive/reference/api/list-servers-in-a-registry.api.mdx
  docs/toolhive/reference/api/register-a-new-client.api.mdx
  docs/toolhive/reference/api/remove-a-registry.api.mdx
  docs/toolhive/reference/api/restart-a-workload.api.mdx
  docs/toolhive/reference/api/sidebar.ts
  docs/toolhive/reference/api/stop-a-workload.api.mdx
  docs/toolhive/reference/api/toolhive-api.info.mdx
  docusaurus.config.ts
  eslint.config.mjs
  package-lock.json
  package.json
  src/redocly/plugins/decorators/replace-servers-url.js
  src/redocly/plugins/replace-servers-url.js
  src/redocly/redocly-toolhive.yaml
  static/api-specs/toolhive-api.yaml
Due: npx prettier --write, npx eslint --fix

Bump plugin version
  package-lock.json
  package.json
Due: npx prettier --write

Update sidebar config
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Refresh API
  docs/toolhive/reference/api/_category_.yaml
  docs/toolhive/reference/api/create-a-new-group.api.mdx
  docs/toolhive/reference/api/create-a-new-secret.api.mdx
  docs/toolhive/reference/api/create-a-new-workload.api.mdx
  docs/toolhive/reference/api/delete-a-group.api.mdx
  docs/toolhive/reference/api/delete-a-secret.api.mdx
  docs/toolhive/reference/api/delete-a-workload.api.mdx
  docs/toolhive/reference/api/delete-workloads-in-bulk.api.mdx
  docs/toolhive/reference/api/export-workload-configuration.api.mdx
  docs/toolhive/reference/api/get-a-registry.api.mdx
  docs/toolhive/reference/api/get-a-server-from-a-registry.api.mdx
  docs/toolhive/reference/api/get-group-details.api.mdx
  docs/toolhive/reference/api/get-logs-for-a-specific-workload.api.mdx
  docs/toolhive/reference/api/get-proxy-logs-for-a-specific-workload.api.mdx
  docs/toolhive/reference/api/get-secrets-provider-details.api.mdx
  docs/toolhive/reference/api/get-workload-details.api.mdx
  docs/toolhive/reference/api/get-workload-status.api.mdx
  docs/toolhive/reference/api/list-all-clients-status.api.mdx
  docs/toolhive/reference/api/list-all-clients.api.mdx
  docs/toolhive/reference/api/list-all-groups.api.mdx
  docs/toolhive/reference/api/list-all-workloads.api.mdx
  docs/toolhive/reference/api/list-registries.api.mdx
  docs/toolhive/reference/api/list-secrets.api.mdx
  docs/toolhive/reference/api/list-servers-in-a-registry.api.mdx
  docs/toolhive/reference/api/register-a-new-client.api.mdx
  docs/toolhive/reference/api/register-multiple-clients.api.mdx
  docs/toolhive/reference/api/restart-a-workload.api.mdx
  docs/toolhive/reference/api/restart-workloads-in-bulk.api.mdx
  docs/toolhive/reference/api/setup-or-reconfigure-secrets-provider.api.mdx
  docs/toolhive/reference/api/sidebar.ts
  docs/toolhive/reference/api/stop-a-workload.api.mdx
  docs/toolhive/reference/api/stop-workloads-in-bulk.api.mdx
  docs/toolhive/reference/api/unregister-a-client-from-a-specific-group.api.mdx
  docs/toolhive/reference/api/unregister-a-client.api.mdx
  docs/toolhive/reference/api/unregister-multiple-clients.api.mdx
  docs/toolhive/reference/api/update-a-secret.api.mdx
  docs/toolhive/reference/api/update-registry-configuration.api.mdx
  docs/toolhive/reference/api/update-workload.api.mdx
  docs/toolhive/reference/registry-api.mdx.disabled
Due: npx prettier --write, npx eslint --fix

Add placeholder
  docs/toolhive/reference/registry-api.mdx
Due: npx prettier --write, npx eslint --fix

Remove mount on `/etc` folder.
  docs/toolhive/guides-registry/deployment.mdx
Due: npx prettier --write, npx eslint --fix

Remove mount on `/etc` folder. (#387)
  docs/toolhive/guides-registry/deployment.mdx
Due: npx prettier --write, npx eslint --fix

Add docs about Registry deployment via Operator
  docs/toolhive/guides-k8s/deploy-registry.mdx
  docs/toolhive/guides-registry/authentication.mdx
  docs/toolhive/guides-registry/configuration.mdx
  docs/toolhive/guides-registry/deployment.mdx
  docs/toolhive/guides-registry/index.mdx
  sidebars.ts
Due: npx prettier --write, npx eslint --fix

Address PR comments
  docs/toolhive/guides-k8s/deploy-registry.mdx
  docs/toolhive/guides-registry/deployment.mdx
Due: npx prettier --write, npx eslint --fix

Prevent `prettier` from breaking container command
  docs/toolhive/guides-registry/deployment.mdx
Due: npx prettier --write, npx eslint --fix

Prevent `prettier` from breaking container command (#388)
  docs/toolhive/guides-registry/deployment.mdx
Due: npx prettier --write, npx eslint --fix

Add opaque token and introspection support to auth docs
  docs/toolhive/guides-registry/authentication.mdx
Due: npx prettier --write, npx eslint --fix

Clarify token validation for JWT vs opaque tokens
  docs/toolhive/guides-registry/authentication.mdx
Due: npx prettier --write, npx eslint --fix

Update Kubernetes authentication docs with tested configuration
  docs/toolhive/guides-registry/authentication.mdx
Due: npx prettier --write, npx eslint --fix

Path conditions:
  npx prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}) or (any of: *.md)) or (any of: *.{css,json,jsonc,yaml,yml})
  npx eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs,mdx}
  npx markdownlint-cli2 --fix: any of: *.md
